@import '../shared/constants';

article {
    .alert-note, .alert-warning, .alert-critical-warning {
        display: flex;
        border-left: 3px solid;
        // Icons have rounded/sharp left sides
        @include section-body-edges($x-correction: -3);

        svg {
            @media #{$media-medium}, #{$media-wide} {
                margin-right: 16px;
            }

            @media #{$media-narrow} {
                margin-right: 9px;
            }

            height: 24px;
            width: 24px;
            flex-shrink: 0;
        }

        .alert-content {
            display: flex;
            flex-direction: column;
        }

        *:not(pre) {
            > code {
                background-color: $color-primary-inline-code-dark-background;
            }
        }
    }

    .alert-note {
        background-color: $color-alert-note-background;
        border-color: $color-secondary;

        .alert-content {
            a {
                @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-alert-note-background);
            }
        }

        svg {
            fill: $color-secondary;
        }
    }

    .alert-warning {
        background-color: $color-alert-warning-background;
        border-color: $color-alert-warning;

        .alert-content {
            a {
                @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-alert-warning-background);
            }
        }

        svg {
            fill: $color-alert-warning;
        }
    }

    .alert-critical-warning {
        background-color: $color-alert-critical-warning-background;
        border-color: $color-alert-critical-warning;

        .alert-content {
            a {
                @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-alert-critical-warning-background);
            }
        }

        svg {
            fill: $color-alert-critical-warning;
        }
    }
}
