@import '../shared/constants';

@mixin main-article-no-preceding-dropdowns() {
    margin-top: 46px;
}

@mixin main-article-with-preceding-dropdowns() {
    margin-top: 44px;
}

#core-inner {
    main {
        > article {
            @media #{$media-medium}, #{$media-narrow} {
                @include main-article-with-preceding-dropdowns;
            }

            @media #{$media-wide} {
                @include main-article-no-preceding-dropdowns;
            }
        }
    }
}

#core {
    &.menu-before, &.menu-after {
        main {
            > article {
                @media #{$media-narrow} {
                    @include main-article-with-preceding-dropdowns;
                }

                @media #{$media-medium}, #{$media-wide} {
                    @include main-article-no-preceding-dropdowns;
                }
            }
        }
    }

    main {
        > article {
            @include main-article-no-preceding-dropdowns;
        }
    }
}

article, section {
    > *:not(:first-child) {
        margin-top: 20px;
    }
}

article {
    // h1 and metadata are direct children of article and so aren't within any section
    @import './metadata';
    @import './header';
    @import './cards';
    @import './alert';
    @import './code';
    @import './table';
    @import './list';
    @import './blockquote';
    @import './banner';
    @import './figure';
    // Make long-form text as readable as possible
    p {
        max-width: 800px;
    }

    a {
        @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-primary);
    }

    hr {
        width: 100%;
        height: 1px;
        border: 0;
        background-color: $color-section-header-background;
    }

    em {
        font-style: italic;
        font-weight: inherit;
    }

    strong {
        font-weight: 600;
        font-style: inherit;
    }

    section {
        .tabGroup {
            display: flex;
            flex-direction: column;

            ul[role="tablist"] {
                padding-left: 0;
                display: flex;
                flex-direction: row;

                li {
                    list-style: none;
                    margin-top: 0;
                }
            }

            > section {
                border: 1px solid $color-section-header-background;
                padding: 22px 29px;
            }
        }

        .image-block {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                display: block;
                max-width: 100%;
            }

            footer {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .image-description {
                    font-size: $font-size-2;
                }

                .image-credits {
                    margin-top: 2px;
                    font-size: $font-size-1;
                }
            }
        }
    }
}
