@import '../shared/constants';

/* TODO needs cleaning up. These styles were plucked out of jering.tech's styles, many are situational. */
.banner-medium {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 0;
    background-color: $color-brand;
    @include horizontal-edge-padding;

    div {
        margin-top: 0;
        max-width: initial;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            height: 329px;
            width: 243px;
            background-color: $color-primary;
            display: flex;
            align-items: center;

            svg {
                height: 249px;
                width: 184px;
                margin-top: 0px;
            }
        }
    }

    h2 {
        font-size: $font-size-7;
        text-align: center;
        margin-top: 23px;
        color: $color-secondary-text;
        line-height: 1;
        font-weight: 700;
    }

    span {
        color: $color-secondary-text;
        font-size: $font-size-5;
        margin-top: 23px;
        text-align: center;
        font-weight: 600;
        line-height: 1;

        a {
            @include animated-underline($color-secondary-link, $animated-underline-15px-inline-ypos, $background-color: $color-brand);
        }
    }
}

.banner-small {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 59px 0;
    background-color: $color-brand;
    align-items: center;
    @include horizontal-edge-padding;

    div {
        display: flex;
        position: absolute;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;

        svg {
            width: 140px;
            fill: $color-primary;
            opacity: 0.2;
        }
    }

    h1 {
        will-change: transform; // TODO If this isn't specified, the element gets repainted everytime an element anywhere on the page transitions. Why?
        position: relative;
        z-index: 2;
        color: $color-secondary-text;
        text-align: center;
        line-height: 1;
    }

    p {
        will-change: transform; // TODO If this isn't specified, the element gets repainted everytime an element anywhere on the page transitions. Why?
        position: relative;
        z-index: 2;
        margin-top: 23px;
        color: $color-secondary-text;
        text-align: center;

        a {
            color: $color-brand-link;
            @include animated-underline($color-brand-link, $animated-underline-15px-inline-ypos, $background-color: transparent);
        }
    }
}