@import '../shared/constants';

blockquote {
    display: flex;
    border-left: 3px solid $color-primary-icon;
    background-color: $color-section-body-background;
    flex-direction: column;
    font-style: italic;
    padding: 20px 20px;

    p {
        a {
            @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-section-body-background);
        }
    }

    > *:not(:first-child){
        margin-top: 20px;
    }
}