@import '../shared/constants';

.card-set {
    max-width: 1200px;

    &.card-medium {
        grid-template-columns: repeat(auto-fit, $card-medium-width);

        .card {
            height: $card-medium-height;
        }
    }

    &.card-small {
        grid-template-columns: repeat(auto-fit, $card-small-width);

        .card {
            height: $card-small-height;
        }
    }

    width: 100%;
    display: grid;
    justify-content: center;
    grid-column-gap: 59px;
    grid-row-gap: 59px;

    .card {
        background-color: $color-secondary;
        transition: transform $short-animation-duration $ease-out-quad;
        position: relative;

        a {
            @include disable-animated-underline;
        }

        &:hover {
            transition: transform $short-animation-duration $ease-out-back-delayed;
            transform: scale(1.2);
        }

        .card-background {
            position: absolute;
            z-index: 0;
            display: flex;
            margin-top: 0;
            top: 0;
            bottom: 0;

            svg {
                width: 100%;
                fill: $color-primary;
                opacity: 0.09;
            }
        }

        .card-body {
            position: relative;
            z-index: 1;
            margin-top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            color: $color-secondary-text;

            header {
                margin: $card-vertical-edge $card-horizontal-edge;
                margin-bottom: 0;
                line-height: 1.2;
                flex-shrink: 0;
            }

            .card-content {
                margin: 20px $card-horizontal-edge;
                flex-grow: 1;
                overflow: hidden; // So it is obvious
                // Special kind of card that displays a grid of icons
                &.card-content-icon-grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, $card-content-icon-grid-icon-size);
                    justify-content: flex-start;
                    grid-column-gap: $card-content-icon-grid-gap-width;
                    grid-row-gap: $card-content-icon-grid-gap-width;
                    overflow: visible;

                    a {
                        display: flex;
                        will-change: transform; // Place icons in separate layers so that when they transform, the rest of the card doesn't get repainted (causes header and footer to get blurry)
                        transition: transform $short-animation-duration $ease-out-quad;

                        &:hover {
                            transition: transform $short-animation-duration $ease-out-back-delayed;
                            transform: scale(1.3333);
                        }

                        svg {
                            height: $card-content-icon-grid-icon-size;
                            width: $card-content-icon-grid-icon-size;
                            fill: $color-secondary-text;
                        }
                    }
                }
            }

            footer {
                margin: 0 $card-horizontal-edge;
                margin-bottom: 40px;
                flex-shrink: 0;
                opacity: $opacity-4;
                border-bottom: 2px solid;
                padding-bottom: 9px;
                font-size: $font-size-1;
            }
        }
    }
}
