@import '../shared/constants';

pre, code {
    font-size: $font-size-2;
}

code {
    padding: 3px 5px;
    background-color: $color-primary-inline-code-background;
}

.code-block {
    display: flex;
    flex-direction: column;

    header {
        min-height: 37px;
        display: flex;
        align-items: center;
        background-color: $color-section-header-background;

        .code-block-title {
            font-weight: 600;

            @include section-header-edges();
        }

        div[role="button"] {
            flex-shrink: 0;
            display: flex;
            margin-left: auto;
            margin-right: 9px;
            cursor: pointer;

            svg {
                height: 24px;
                width: 24px;
                fill: $color-primary-link-disabled;
                transition: fill $short-animation-duration $ease-out-quad;

                &:hover {
                    transition-delay: $anti-flicker-delay;
                    fill: $color-primary-link;
                }
            }
        }
    }

    pre {
        background-color: $color-section-body-background;
        white-space: pre;
    }

    .code {
        flex-grow: 1;
        overflow-x: auto;

        code {
            // https://stackoverflow.com/questions/10054870/when-a-child-element-overflows-horizontally-why-is-the-right-padding-of-the-par
            display: inline-block;
            background-color: transparent;
            border: 0;
            padding: 0;
            // Smaller font used for code, increase y
            @include section-body-edges($y-correction: 2, $use-margin: true);
        }
    }
    // Code blocks with line numbers
    > div {
        display: flex;

        .line-numbers {
            user-select: none;

            @media #{$media-wide}, #{$media-medium} {
                padding: 20px 11px;
            }

            @media #{$media-narrow} {
                padding: 9px 11px;
            }

            flex-grow: 0;
            flex-shrink: 0;
            color: #2b91af;
            border-right: 1px solid $color-divider-background;

            & + .code {
                code{
                    margin-left: 13px;
                }
            }
        }
    }
}

/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
    background-color: transparent;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #00f;
}

.hljs-string {
    color: #a31515;
}

.hljs-doctag,
.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.lang-html {
    .hljs-string {
        color: #00f;
    }

    .hljs-name {
        color: #800000;
    }
}

.lang-scss {
    .hljs-keyword,
    .hljs-variable {
        color: #800080;
    }

    .hljs-string {
        color: #00f;
    }

    .hljs-selector-tag,
    .hljs-name {
        color: #800000;
    }

    .hljs-attribute {
        color: #f00;
    }
}

.lang-css {
    .hljs-built_in {
        color: #000;
    }

    .hljs-keyword {
        color: #800080;
    }

    .hljs-string {
        color: #00f;
    }

    .hljs-selector-tag,
    .hljs-selector-pseudo,
    .hljs-name {
        color: #800000;
    }

    .hljs-attribute {
        color: #f00;
    }
}
