@import '../shared/constants';

ol, ul {
    display: flex;
    flex-direction: column;
    padding-left: 44px;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

li {
    display: list-item;

    &:not(:first-child) {
        margin-top: 20px;
    }

    > *:not(:first-child) {
        margin-top: 20px;
    }
}