@import '../shared/constants';
@import '../shared/dropdown';
@import 'articleLinks';
@import 'articleMenuHeader';
@import 'tableOfContents';

@mixin article-menu-dropdown() {
    @include top-fixable;
    // max-height only works for flex children, pages uses max-height
    display: flex;
    flex-direction: column;
    height: 37px;
    // Chrome bug: If 0, after resizing from narrow to medium/large, scrollY is set to 0. Also, chrome seems to correct scrollY when a page is resized such that the same element is at the top of the page,
    // if top is 0, this never works. With top set to 0.1px, it works at times, but not always - as long as an element has position fixed or sticky, scrollY handling is a mess.
    top: 0.1px;
    // Entire page is repainted on translate if z-index is 0 or undefined
    z-index: 1;
}

@mixin article-menu-side-menu() {
    width: $side-menu-width;
    margin-left: 66px;
    top: 23px;
    // Necessary for position: sticky to work
    align-self: flex-start;
}

@mixin article-menu-side-menu-with-preceding-dropdown() {
    margin-top: 57px;
}

@mixin article-menu-side-menu-no-preceding-dropdown() {
    margin-top: 59px;
}

@mixin article-links-and-toc-outer-wrapper-dropdown() {
    @include dropdown-outer-wrapper;
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
}

@mixin article-links-and-toc-inner-wrapper-dropdown() {
    @include dropdown-inner-wrapper;
    @include horizontal-edge-padding;
    padding: 16px 0;
    background-color: $color-primary;
    flex-direction: column-reverse;
}

@mixin article-links-and-toc-inner-wrapper-side-menu() {
    flex-direction: column;
}

@mixin article-links-and-toc-outer-wrapper-side-menu() {
    width: $side-menu-width;
}

#core-inner {
    #article-menu {
        @media #{$media-medium} {
            @include article-menu-side-menu-with-preceding-dropdown;
        }
    }
}

#core {
    #article-menu {
        @media #{$media-medium} {
            @include article-menu-side-menu-no-preceding-dropdown;
        }
    }
}

#article-menu {
    flex-shrink: 0;
    font-size: $font-size-2;
    position: sticky;

    @media #{$media-narrow} {
        @include article-menu-dropdown;
    }

    @media #{$media-wide} {
        @include article-menu-side-menu-no-preceding-dropdown;
    }

    @media #{$media-medium}, #{$media-wide} {
        @include article-menu-side-menu;
    }

    #article-links-and-toc-outer-wrapper {
        @media #{$media-narrow} {
            @include article-links-and-toc-outer-wrapper-dropdown;

            #article-links-and-toc-inner-wrapper {
                @include article-links-and-toc-inner-wrapper-dropdown;
            }
        }

        @media #{$media-medium}, #{$media-wide} {
            @include article-links-and-toc-outer-wrapper-side-menu;

            #article-links-and-toc-inner-wrapper {
                @include article-links-and-toc-inner-wrapper-side-menu;
            }
        }

        #article-links-and-toc-inner-wrapper {
            display: flex;
            flex-shrink: 1;
        }
    }
}
