@import '../shared/constants';
@import '../shared/dropdown';

@mixin article-menu-side-menu() {
    align-self: stretch;
    background-color: $color-section-body-background;

    &__content-wrapper {
        height: 100%; // links only remains sticky while its parent block provides enough vertical space for it
    }

    &__content {
        position: sticky;
        top: 0;
        padding: 56px 0px 23px 59px;
    }

    .dropdown__header {
        display: none;
    }

    &__edit-link, &__share-links {
        // Whichever is before outline
        &:nth-last-child(2) {
            margin-bottom: 23px;
        }
    }
}

@mixin article-menu-dropdown() {
    @include dropdown;
    @include menu-dropdown;
    position: sticky;
    top: 0;

    .dropdown__header {
        background-color: $color-article-menu-dropdown-header;
        color: $color-primary-text;
    }

    .dropdown__button {
        svg {
            fill: $color-primary-link;
        }
    }

    &__edit-link, &__share-links {
        flex-shrink: 0;

        &:first-child {
            margin-top: 20px;
        }

        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    &__share-links {
        order: 3;
    }

    &__edit-link {
        order: 2;
    }
}

.article-menu {
    @media #{$media-narrow} {
        @include article-menu-dropdown;
    }

    @media #{$media-medium} {
        @include article-menu-side-menu;
        padding-right: $horizontal-edge-medium
    }

    @media #{$media-wide} {
        @include article-menu-side-menu;
        padding-right: $horizontal-edge-wide;
    }

    grid-area: article-menu;
    font-size: $font-size-2;
    z-index: 2;
    position: relative; // Edge workaround: z-index doesn't work for grid area elements unless position is relative

    &__edit-link, &__share-links {
        display: flex;
        align-items: center;
        margin-bottom: 13px;

        > svg {
            flex-shrink: 0;
            height: 18px;
            width: 18px;
            fill: $color-primary-icon;
        }
    }

    &__edit-link {
        a {
            flex-shrink: 0;
            @include animated-underline($color-primary-link, $animated-underline-13px-ypos, $background-color: $color-primary);
        }

        svg {
            margin-right: 6px;
        }
    }

    &__share-links {
        height: 20px;

        > svg {
            margin-right: 5px;
        }

        a {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            transition: transform $short-animation-duration $ease-out-quad;
            transform: scale(1);

            &:nth-of-type(n+2) {
                margin-left: 7px;
            }

            &:hover {
                transition: transform $short-animation-duration $ease-out-back-delayed;
                transform: scale(1.3333);
            }

            svg {
                flex-shrink: 0;
                fill: $color-primary-link;
                height: 24px;
                width: 24px;
            }
        }
    }
}
