/**/node_modules/
/**/.sass-cache
dist/
tools/obj/
plugins/
/**/_site
/**/obj

.npmrc
.vscode
.vs
debug.log
npm-debug.log
# Both yarn and npm generate lock files, only yarn.lock needs to be committed
package-lock.json
