@import '../shared/constants';

@mixin category-pages-side-menu() {
    // Required to keep footer 23px below pages when category menu is not fixed
    margin-bottom: 23px;
}

#core {
    #category-menu {
        @media #{$media-medium} {
            #category-pages {
                @include category-pages-side-menu;
            }
        }
    }
}

#category-pages {
    @include pure-flex;
    overflow-y: auto;
    flex-direction: column;
    flex-shrink: 1;

    @media #{$media-wide} {
        @include category-pages-side-menu;
    }

    ul {
        flex-direction: column;

        li {
            flex-shrink: 0;
            flex-direction: column;

            &.filter-hidden {
                display: none;
            }

            &.filter-match .filter-hidden {
                display: flex;
            }


            &.expandable {
                svg {
                    transform: rotate(0deg);
                    transition: transform $medium-animation-duration $ease-out-quad, fill $medium-animation-duration $ease-out-quad $long-anti-flicker-delay;
                    will-change: transform;
                    fill: $color-primary-icon;
                }

                &.expanded {
                    > span, > a { // Apply only to direct child's SVG
                        svg {
                            transform: rotate(90deg);
                        }
                    }
                }

                ul {
                    height: 0;
                    overflow: hidden;
                    transition: height $medium-animation-duration $ease-out-quad;
                }
            }

            span, a {
                padding: 8px 0;
                padding-right: 12px;
                user-select: none;
                align-items: center;
                min-height: 37px;

                button {
                    margin-right: 1px;
                    margin-left: 2px;

                    svg {
                        flex-shrink: 0;
                        height: 18px;
                        width: 18px;
                    }
                }
            }

            span {
                cursor: pointer;
                color: $color-primary-text;
            }

            a {
                background-image: linear-gradient($color-primary-link, $color-primary-link);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 0% 100%;
                transition: background-size $medium-animation-duration $ease-out-quad $long-anti-flicker-delay, color $short-animation-duration $ease-out-quad $long-anti-flicker-delay;

                &.active {
                    background-color: $color-secondary;
                }

                &:hover:not(.active) {
                    background-size: 100% 100%;
                }

                &.active, &:hover {
                    color: $color-secondary-text;

                    svg {
                        fill: $color-secondary-text;
                    }
                }
            }
        }
    }
}
