@import '../shared/constants';
@import '../shared/dropdown';

@mixin category-menu-side-menu() {
    align-self: stretch;
    background-color: $color-section-body-background;

    &__content-wrapper {
        height: 100%; // pages only remains sticky while its parent block provides enough vertical space for it
    }

    &__content {
        position: sticky;
        padding: 59px 59px 23px 0;
        top: 0;
    }

    .dropdown__header {
        display: none;
    }

    .text-input__background {
        &:before {
            background-color: $color-section-header-dark-background;
        }
    }
}

@mixin category-menu-dropdown() {
    @include dropdown;
    @include menu-dropdown;

    .dropdown__header {
        background-color: $color-secondary;
        color: $color-secondary-text;
    }

    .dropdown__button {
        svg {
            fill: $color-secondary-text;
        }
    }

    &__collapsible-menu {
        flex-shrink: 1;
        padding: 14px;
        background-color: $color-section-body-background;
    }

    &__filter-box {
        flex-shrink: 0;
    }
}

.category-menu {
    grid-area: category-menu;
    font-size: $font-size-2;
    z-index: 2;
    position: relative; // Edge workaround: z-index doesn't work for grid area elements unless position is relative
    @media #{$media-wide} {
        @include category-menu-side-menu;
        padding-left: $horizontal-edge-wide;
    }

    &__collapsible-menu {
        margin-top: 20px;
    }
}

.body--all-menus {
    .category-menu {
        @media #{$media-narrow}, #{$media-medium} {
            @include category-menu-dropdown;
        }
    }
}

.body--category-menu-only {
    .category-menu {
        @media #{$media-narrow} {
            @include category-menu-dropdown;
        }

        @media #{$media-medium} {
            @include category-menu-side-menu;
            padding-left: $horizontal-edge-medium
        }
    }
}
