@import '../shared/constants';

.page-footer {
    grid-area: footer;
    z-index: 3;
    position: relative;
    @include horizontal-edge-padding;
    font-size: $font-size-2;
    background-color: $color-secondary;
    color: $color-secondary-text;
    display: flex;
    align-items: center;

    * {
        flex-shrink: 0;
    }

    a {
        color: inherit;
    }

    &__page-info {
        display: flex;
        flex-direction: column;
    }

    &__uninteractive-text {
        white-space: pre;
        opacity: $opacity-4;
    }

    &__attribution {
        display: flex;
        flex-wrap: wrap;
        margin: 26px 0 22px 0;
        font-size: $font-size-1;

        a {
            @include animated-underline($color-secondary-text, $animated-underline-11px-ypos, $background-color: $color-secondary);
        }
    }

    &__legal-links {
        display: flex;
        flex-wrap: wrap;
        margin-top: 18px;

        span {
            display: flex;
            align-items: center;

            &:nth-last-child(n+2) {
                &::after {
                    content: "";
                    height: 14px;
                    width: 2px;
                    background-color: $color-primary;
                    margin: 1px 8px 0 8px;
                    opacity: $opacity-1;
                }
            }
        }

        a {
            @include animated-underline($color-secondary-text, $animated-underline-13px-ypos, $background-color: $color-secondary);
        }
    }

    &__copyright-text {
        display: flex;
        align-items: center;
        margin-top: 18px;

        svg {
            height: 18px;
            width: 18px;
            fill: $color-secondary-text;
            opacity: $opacity-3;
            margin-right: 5px;
        }
    }

    &__social-media-links {
        display: flex;
        margin-top: 28px;
        flex-wrap: wrap;

        a {
            display: flex;
            margin-right: 16px;
            transition: transform $short-animation-duration $ease-out-quad;

            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                transition-delay: $anti-flicker-delay;
                transform: scale(1.3333);
            }

            svg {
                height: 24px;
                width: 24px;
                fill: $color-secondary-text;
            }
        }
    }

    &__back-to-top-button {
        margin-left: auto;
        padding-left: 20px;
        opacity: 0;
        transition: opacity $short-animation-duration $ease-out-quad;
        pointer-events: none;

        &--active {
            opacity: $opacity-6;
            pointer-events: all;
        }

        svg {
            transition: transform $short-animation-duration $ease-out-quad;

            &:hover {
                transition-delay: $anti-flicker-delay;
                transform: scale(1.3333);
            }

            height: 24px;
            width: 24px;
            fill: $color-secondary-text;
        }
    }
}
