@import 'constants';

body {
    display: grid;

    &.body--article-menu-only {
        @media #{$media-wide}, #{$media-medium} {
            grid-template-rows: [header-start] 95px [header-end breadcrumbs-start] auto [breadcrumbs-end article-menu-start main-start] 1fr [main-end footer-start ] auto [article-menu-end footer-end];
        }

        @media #{$media-wide} {
            grid-template-columns: [header-start breadcrumbs-start footer-start main-start] 1fr [main-end article-menu-start] $side-menu-column-width-wide [article-menu-end footer-end breadcrumbs-end header-end];
        }

        @media #{$media-medium} {
            grid-template-columns: [header-start breadcrumbs-start footer-start main-start] 1fr [main-end article-menu-start] $side-menu-column-width-medium [article-menu-end footer-end breadcrumbs-end header-end];
        }

        @media #{$media-narrow} {
            grid-template-rows: 95px auto 37px 1fr auto;
            grid-template-columns: 1fr;
            grid-template-areas: "header" "breadcrumbs" "article-menu" "main" "footer";
        }
    }

    &.body--category-menu-only {
        @media #{$media-wide}, #{$media-medium} {
            grid-template-rows: [header-start] 95px [header-end breadcrumbs-start] auto [breadcrumbs-end category-menu-start main-start] 1fr [main-end footer-start ] auto [category-menu-end footer-end];
        }

        @media #{$media-wide} {
            grid-template-columns: [header-start breadcrumbs-start footer-start category-menu-start] $side-menu-column-width-wide [category-menu-end main-start] 1fr [main-end footer-end breadcrumbs-end header-end];
        }

        @media #{$media-medium} {
            grid-template-columns: [header-start breadcrumbs-start footer-start category-menu-start] $side-menu-column-width-medium [category-menu-end main-start] 1fr [main-end footer-end breadcrumbs-end header-end];
        }

        @media #{$media-narrow} {
            grid-template-rows: 95px 37px 1fr auto;
            grid-template-columns: 1fr;
            grid-template-areas: "header" "category-menu" "main" "footer";
        }
    }

    &.body--no-menus {
        grid-template-rows: 95px auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "breadcrumbs" "main" "footer";
    }

    &.body--all-menus {
        @media #{$media-wide} {
            grid-template-rows: [header-start] 95px [header-end breadcrumbs-start] auto [breadcrumbs-end category-menu-start main-start article-menu-start] 1fr [main-end footer-start ] auto [category-menu-end article-menu-end footer-end];
            grid-template-columns: [header-start breadcrumbs-start category-menu-start footer-start] $side-menu-column-width-wide [category-menu-end main-start] 1fr [main-end article-menu-start] $side-menu-column-width-wide [footer-end article-menu-end breadcrumbs-end header-end];
        }

        @media #{$media-medium} {
            grid-template-rows: [header-start] 95px [header-end category-menu-start] 37px [category-menu-end main-start article-menu-start] 1fr [main-end footer-start ] auto [article-menu-end footer-end];
            grid-template-columns: [header-start footer-start main-start category-menu-start] 1fr [main-end article-menu-start] $side-menu-column-width-medium [footer-end article-menu-end header-end category-menu-end];
        }

        @media #{$media-narrow} {
            grid-template-rows: 95px 37px 37px 1fr auto;
            grid-template-columns: 1fr;
            grid-template-areas: "header" "category-menu" "article-menu" "main" "footer";
        }
    }

    min-height: 100vh;
    position: relative;

    * {
        // FF uses auto as the default min-height for some elements (such as lis). auto means min-content (minimum space to fit content). Not setting min-height to 0 can thus result in overflow despite
        // flex-grow being set to 0.
        min-height: 0;
    }

    &.preload {
        * {
            transition: none !important;
        }
    }
}

html, body {
    // Smooth-scroll plugin is smoother than this CSS property
    //scroll-behavior: smooth;
    font-size: $font-size-3;
    line-height: 1.6;
    opacity: $opacity-6;
}

body, body * {
    // By default, if an element is tapped in chrome for android, it flashes blue.
    // This is unecessary since animations are used by mimo to signify successful interation.
    -webkit-tap-highlight-color: transparent;
    // If left as default, some browsers, such as android chrome, attempt to enlarge certain portions of text that it deems important. Unfortunately, it does not seem to work consistently with documentation sites,
    // especially in tables - https://stackoverflow.com/questions/15977840/why-does-the-font-in-these-td-elements-render-at-different-sizes, https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
    text-size-adjust: none;
    // Elements with display flex have min-width set to auto by default (a min-width value unique to flexbox). This causes a host of problems with overflowing content-
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow.
    min-width: 0;
    // Avoid text overflowing content boxes at all cost
    overflow-wrap: break-word;
}

html {
    height: 100%;
    min-width: 320px;
}

button, a {
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
}

*::selection {
    color: $color-secondary-text;
    background-color: rgba($color-primary-link, 0.99);
    text-shadow: none;
}

script {
    display: none;
}

a {
    color: $color-primary-link;
    text-decoration: none;
}

* {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*::placeholder {
    opacity: $opacity-3;
    color: $color-primary-text;
}

*:placeholder {
    opacity: $opacity-3;
    color: $color-primary-text;
}

*::-ms-clear {
    display: none;
}

@media (pointer:fine) {
    * {
        // FF
        scrollbar-width: thin;
        scrollbar-color: $color-scrollbar-thumb $color-scrollbar-track
    }

    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar {
        background: $color-scrollbar-track;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar-thumb;
    }
}