@import 'constants';

pre, code {
    font-size: $font-size-2;
}

code {
    padding: 3px 5px;
    background-color: $color-primary-inline-code-background;
}

.code-block {
    display: flex;
    flex-direction: column;

    header {
        min-height: 37px;
        display: flex;
        align-items: center;
        background-color: $color-section-header-background;

        .code-block-title {
            font-weight: 600;
            padding: 6px 28px;

            @media #{$media-narrow} {
                padding: 6px 22px;
            }
        }

        div[role="button"] {
            flex-shrink: 0;
            display: flex;
            margin-left: auto;
            margin-right: 9px;
            cursor: pointer;

            svg {
                height: 24px;
                width: 24px;
                fill: $color-primary-link-disabled;
                transition: fill 0.35s $ease-out-quad-delayed;

                &:hover {
                    fill: $color-primary-link;
                }
            }
        }
    }

    pre {
        background-color: $color-section-body-background;
        white-space: pre;
        padding: 20px 28px;

        @media #{$media-narrow} {
            padding: 12px 22px;
        }
    }

    > div {
        display: flex;

        .line-numbers {
            user-select: none;
            padding: 20px 14px;

            @media #{$media-narrow} {
                padding: 12px 9px;
            }

            flex-grow: 0;
            flex-shrink: 0;
            color: #2b91af;
            border-right: 2px solid $color-section-header-background;
        }

        .code {
            padding-left: 23px;

            @media #{$media-narrow} {
                padding-left: 14px;
            }
        }
    }

    .code {
        flex-grow: 1;
        overflow-x: auto;

        code {
            background-color: transparent;
            border: 0;
            padding: 0;
        }
    }
}

/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
    background-color: transparent;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #0000ff;
}

.hljs-string {
    color: #a31515;
}

.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #000000;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #808080;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
