$color-primary: #fff !default;
$color-primary-text: #212121 !default;
$color-primary-highlight: #FFD039 !default;
$color-primary-link: #1e88e5 !default;
$color-primary-link-disabled: #bebebe !default;
$color-primary-inline-code-background: #f4f4f4 !default;
$color-primary-inline-code-dark-background: #ececec !default;
$color-primary-icon: #646464 !default;

$color-secondary: #1565c0 !default;
$color-secondary-text: #fff !default;

$color-alert-note-background: #f1f6fb !default;
$color-alert-warning: #ffdb08 !default;
$color-alert-warning-background: #fffdf0 !default;
$color-alert-critical-warning: #ff2508 !default;
$color-alert-critical-warning-background: #fff2f0 !default;

$color-section-body-background: #f9f9f9 !default;
$color-section-header-background: #f0f0f0 !default;
$color-divider-background: #ddd !default;

$color-code-highlight: #ffff7f !default;
$color-code-divider-background: #a5a5a5 !default;

$opacity-blockquote: 0.06 !default;
$opacity-1: 0.45 !default;
$opacity-2: 0.54 !default;
$opacity-3: 0.6 !default;
$opacity-4: 0.7 !default;
$opacity-5: 0.80 !default;
$opacity-6: 1.0 !default;

$short-animation-duration: 0.2s !default;
$medium-animation-duration: 0.3s !default;
$long-animation-duration: 0.4s !default;
$anti-flicker-delay: 0.06s !default;
$ease-out-quad: cubic-bezier(0.33, 0.67, 0.67, 1) !default;
$ease-out-quad-delayed: $ease-out-quad $anti-flicker-delay !default;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;
$ease-out-back-delayed: $ease-out-back $anti-flicker-delay !default;

$font-size-1: 11px !default;
$font-size-2: 13px !default;
$font-size-3: 15px !default;
$font-size-4: 16px !default;
$font-size-5: 20px !default;
$font-size-6: 28px !default;
$font-size-7: 42px !default;

$side-menu-width: 248px !default;

$media-narrow: '(max-width: 855px)' !default;
$media-medium: '(min-width: 856px) and (max-width: 1183px)' !default;
$media-wide: '(min-width: 1184px)' !default;

$animated-underline-11px-ypos: 14px !default;
$animated-underline-13px-ypos: 17px !default;
$animated-underline-13px-inline-ypos: 15px !default;
$animated-underline-15px-ypos: 20px !default;
$animated-underline-15px-inline-ypos: 18px !default;
$animated-underline-28px-ypos: 32px !default;

$horizontal-edge-narrow: 14px !default;
$horizontal-edge-medium: 23px !default;
$horizontal-edge-wide: 30px !default;

@mixin section-body-edges($y-correction: 0, $x-correction: 0, $use-margin: false) {
    $property: if($use-margin, margin, padding);

    @media #{$media-wide} {
        #{$property}: (18 + $y-correction) * 1px (29 + $x-correction) * 1px;
    }

    @media #{$media-medium} {
        #{$property}: (18 + $y-correction) * 1px (22 + $x-correction) * 1px;
    }

    @media #{$media-narrow} {
        #{$property}: (7 + $y-correction) * 1px (13 + $x-correction) * 1px;
    }
}

@mixin section-header-edges($y-correction: 0, $x-correction: 0, $use-margin: false) {
    $property: if($use-margin, margin, padding);

    @media #{$media-wide} {
        #{$property}: (7 + $y-correction) * 1px (29 + $x-correction) * 1px;
    }

    @media #{$media-medium} {
        #{$property}: (7 + $y-correction) * 1px (22 + $x-correction) * 1px;
    }

    @media #{$media-narrow} {
        #{$property}: (7 + $y-correction) * 1px (13 + $x-correction) * 1px;
    }
}

@mixin pure-flex() {
    display: flex;

    * {
        display: flex;
    }
}

@mixin text-input-icons() {
    svg {
        flex-shrink: 0;
        height: 18px;
        width: 18px;
        fill: $color-primary-icon;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            transition: opacity $short-animation-duration $ease-out-quad, transform $short-animation-duration $ease-out-quad;
            margin-left: 5px;
            opacity: 0;
            display: none;
            cursor: pointer;

            &.active {
                opacity: $opacity-6;

                &:hover {
                    transition-delay: $anti-flicker-delay;
                    transform: scale(1.3333);
                }
            }
        }
    }
}

@mixin animated-underline($color, $y-position, $underline-height: 1px, $duration: $medium-animation-duration, $background-color: null) {
    @include animated-underline-core($color, $y-position, $underline-height, $duration);
    // Text shadow must remain until underline has transitioned out
    transition: background-size $duration $ease-out-quad, text-shadow 0s linear $duration;

    &:hover {
        background-size: 100% $underline-height;
        transition-delay: $anti-flicker-delay;
    }

    @if ($background-color) {
        text-shadow: none;

        &:hover {
            // No mouse enter transition for text-shadow
            transition: background-size $duration $ease-out-quad;
            transition-delay: $anti-flicker-delay;
            @include decenders-gap($background-color);
        }
    }
}


@mixin animated-underline-core($color, $y-position, $underline-height, $duration) {
    background-image: linear-gradient(to top, $color 0, $color $underline-height, transparent $underline-height);
    background-repeat: no-repeat;
    background-position: 0 $y-position;
    background-size: 0% $underline-height; // Note: Edge is unable to handle the background-size transition if width is specified as 0 instead of 0%
    display: inline;
}

@mixin decenders-gap($background-color) {
    /*text-shadow: 1px 0 0 $background-color, 
        2px 0 0 $background-color, 
        -1px 0 0 $background-color, 
        -2px 0 0 $background-color;*/
    text-shadow: 1px 1px 0 $background-color, 1px -1px 0 $background-color, -1px 1px 0 $background-color, -1px -1px 0 $background-color;
}

@mixin horizontal-edge-padding {
    @media #{$media-narrow} {
        padding-left: $horizontal-edge-narrow;
        padding-right: $horizontal-edge-narrow;
    }

    @media #{$media-medium} {
        padding-left: $horizontal-edge-medium;
        padding-right: $horizontal-edge-medium;
    }

    @media #{$media-wide} {
        padding-left: $horizontal-edge-wide;
        padding-right: $horizontal-edge-wide;
    }
}

@mixin horizontal-edge-margin {
    @media #{$media-narrow} {
        margin-left: $horizontal-edge-narrow;
        margin-right: $horizontal-edge-narrow;
    }

    @media #{$media-medium} {
        margin-left: $horizontal-edge-medium;
        margin-right: $horizontal-edge-medium;
    }

    @media #{$media-wide} {
        margin-left: $horizontal-edge-wide;
        margin-right: $horizontal-edge-wide;
    }
}

@mixin top-fixable {
    transform: translateY(0);
    transition: transform $medium-animation-duration $ease-out-quad;
    will-change: transform;
}

@mixin normal-table {
    table {
        width: 100%;
    }

    th {
        @include section-header-edges();
        font-weight: 600;
    }

    th,
    td {
        border: 1px solid #e8e8e8;
        text-align: center;

        &.align-left {
            text-align: left;
        }

        &.align-right {
            text-align: right;
        }
    }

    td {
        @include section-body-edges();
    }
}

@mixin card-table {
    table {
        display: block;
    }

    thead {
        display: none;
    }

    tbody {
        display: table;
        width: 100%;
    }

    tr {
        display: table-row-group;

        &:nth-child(odd) {
            background-color: $color-section-body-background;

            a {
                @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-section-body-background);
            }

            *:not(pre) {
                > code {
                    background-color: $color-primary-inline-code-dark-background;
                }
            }
        }
    }

    td {
        display: table-row;

        &:before {
            content: attr(data-label);
            font-weight: 600;
        }

        &:before, > span {
            vertical-align: middle;
            @include section-body-edges();
            display: table-cell;
            border: 1px solid #e8e8e8;
        }

        &.align-left {
            &:before, > span {
                vertical-align: top;
            }
        }
    }
}
