@import 'constants';

@mixin border-top {
    border-top: solid 1px $color-header-divider-background;
}

#core-outer {
    // When screen is narrow or medium, section menu must be above main and article menu
    @media #{$media-medium}, #{$media-narrow} {
        flex-direction: column;
    }

    @media #{$media-wide} {
        @include horizontal-edge-padding;
        @include border-top
    }
}

#core-inner {
    @media #{$media-narrow} {
        flex-direction: column-reverse;
    }

    @media #{$media-medium} {
        @include horizontal-edge-padding;
    }
}

#core {
    @media #{$media-narrow} {
        &.menu-before {
            flex-direction: column;
        }

        &.menu-after {
            flex-direction: column-reverse;
        }

        &:not(.menu-before):not(.menu-after){
            @include border-top;
        }
    }

    @media #{$media-medium}, #{$media-wide} {
        @include horizontal-edge-padding;
        @include border-top;
    }
}

#core, #core-outer, #core-inner {
    display: flex;
    flex-grow: 1;
}