@import 'constants';

#core-outer {
    // When screen is narrow or medium, section menu must be above main and article menu
    @media #{$media-medium}, #{$media-narrow} {
        flex-direction: column;
    }

    @media #{$media-wide} {
        @include horizontal-edge-padding;
    }
}

#core-inner {
    @media #{$media-narrow} {
        flex-direction: column-reverse;
    }

    @media #{$media-medium} {
        @include horizontal-edge-padding;
    }
}

#core {
    @media #{$media-narrow} {
        &.menu-before {
            flex-direction: column;
        }

        &.menu-after {
            flex-direction: column-reverse;
        }
    }

    @media #{$media-medium}, #{$media-wide} {
        @include horizontal-edge-padding;
    }
}

#core, #core-outer, #core-inner {
    display: flex;
    flex-grow: 1;
}
