@import '../shared/constants';

@mixin menu-dropdown {
    font-size: $font-size-2;

    .dropdown__header {
        height: 37px;
        @include horizontal-edge-padding('left');
    }

    .dropdown__button {
        align-items: center;
        padding-left: 7px;
        @include horizontal-edge-padding('right', -7);
        margin-left: auto;

        svg {
            flex-shrink: 0;
            height: 24px;
            width: 24px;
            transform: rotate(0);
            transition: transform $medium-animation-duration $ease-out-quad;
        }
    }

    &.dropdown--expanded {
        .dropdown__button {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .dropdown__body {
        display: flex;
        flex-direction: column;
        @include horizontal-edge-padding;
        background-color: $color-primary;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@mixin header-dropdown {
    .dropdown__header {
        @include horizontal-edge-padding;
    }

    .dropdown__button {
        border: none;
        flex-direction: column;

        span {
            height: 3px;
            width: 23px;
            flex-shrink: 0;

            &:nth-last-child(n+2) {
                margin-bottom: 3px;
            }

            background-color: $color-primary-link;
            transition: transform $medium-animation-duration $ease-out-quad;
        }

        &:hover, &:focus {
            outline: 0;
        }
    }

    &.dropdown--expanded {
        .dropdown__button {
            span {
                &:nth-child(1) {
                    transform: translate(0, 6px) rotate(45deg);
                }

                &:nth-child(2) {
                    // Can't be 0 - https: //bugzilla.mozilla.org/show_bug.cgi?id=1425213
                    transform: scaleX(0.0001);
                }

                &:nth-child(3) {
                    transform: translate(0, -6px) rotate(-45deg);
                }
            }
        }
    }
}

@mixin dropdown {
    transform: translateY(0);

    .dropdown__button {
        display: flex;
        flex-shrink: 0;
    }

    &.dropdown--expanded {
        .dropdown__body-wrapper {
            pointer-events: all;
        }

        .dropdown__body {
            transform: translateY(0);
        }
    }

    &.dropdown--collapsing, &.dropdown--expanded {
        z-index: 5; // Move infront of overlay and other dropdowns
    }

    &.dropdown--enable-animation, &.dropdown--enable-animation .dropdown__body {
        transition: transform $medium-animation-duration $ease-out-quad;
    }

    .dropdown__header {
        display: flex;
    }
    // The body wrapper stays in the position where body would be if its translateY is 0.
    // By setting its overflow to hidden, we hide body when it goes above its original top edge.
    .dropdown__body-wrapper {
        overflow: hidden;
        pointer-events: none;
    }

    .dropdown__body {
        transform: translateY(-100%);
        // Note: if will-change is set to transform, body child elements can be interacted with until
        // some random mouse events occur.
    }
}
