@import 'constants';

main {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    margin-bottom: 59px;

    @media #{$media-narrow} {
        @include horizontal-edge-padding;
    }
}
