@import 'constants';

html {
    height: 100%;
    min-width: 320px;
}

button, a {
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
}

*::selection {
    color: $color-secondary-text;
    background-color: rgba($color-primary-link, 0.99);
    text-shadow: none;
}

script {
    display: none;
}

a {
    color: $color-primary-link;
    text-decoration: none;
}

* {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*::placeholder {
    opacity: $opacity-3;
    color: $color-primary-text;
}

*:placeholder {
    opacity: $opacity-3;
    color: $color-primary-text;
}

*::-ms-clear {
    display: none;
}

@media (pointer:fine) {
    * {
        // FF
        scrollbar-width: thin;
        scrollbar-color: $color-scrollbar-thumb $color-scrollbar-track
    }

    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar {
        background: $color-scrollbar-track;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar-thumb;
    }
}