@import 'constants';

.spinner {
    flex-direction: row;
    justify-content: center;
    overflow: hidden;

    &.active {
        > div {
            animation: sk-stretchdelay 1s infinite ease-in-out;
        }
    }

    > div {
        background-color: $color-primary-text;
        opacity: $opacity-4;
        height: 20px;
        width: 2px;

        & + div {
            margin-left: 5px;

            &.rect2 {
                animation-delay: -0.9s;
            }

            &.rect3 {
                animation-delay: -0.8s;
            }

            &.rect4 {
                animation-delay: -0.7s;
            }

            &.rect5 {
                animation-delay: -0.6s;
            }
        }
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(1.0)
    }

    20% {
        transform: scaleY(0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(1.0);
    }

    20% {
        transform: scaleY(0);
    }
}
