@import '../shared/constants';

.text-input {
    display: grid;
    grid-template: 37px / 14px 18px 1fr 18px 11px;
    position: relative;
    z-index: 1; // Make element a stacking context root
    &:after {
        grid-area: 1 / 1 / 2 / 6;
        position: relative; // For z-index to work on edge
        content: '';
        z-index: 2;
        border: 1px solid $color-primary-text;
        opacity: 0;
        transition: opacity $short-animation-duration $ease-out-quad;
        pointer-events: none;
    }

    &__background {
        background-color: $color-primary;
        overflow: hidden;
        grid-area: 1 / 1 / 2 / 6;
        position: relative; // For z-index to work on edge
        z-index: -1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $color-section-header-background;
            transform: translateX(0); // TODO transition in isn't optimized on ff - https://bugzilla.mozilla.org/show_bug.cgi?id=1190721
            transition: transform $medium-animation-duration $ease-out-quad;
        }
    }

    &:hover, &--active {
        .text-input__background {
            &:before {
                transition-delay: $anti-flicker-delay;
                transform: translateX(100%);
            }
        }

        &:after {
            transition-delay: $anti-flicker-delay;
            opacity: 1;
        }
    }

    &__icon, &__button-icon {
        height: 18px;
        width: 18px;
        fill: $color-primary-icon;
    }

    &__icon {
        grid-area: 1 / 2 / 2 / 3;
        position: relative; // For z-index to work on edge
        align-self: center;
    }

    &__button-icon {
        transition: transform $short-animation-duration $ease-out-quad;
        transform: scale(1);
    }

    &__input {
        padding: 0 5px;
        position: relative; // For z-index to work on edge
        grid-area: 1 / 3 / 2 / 4;
        color: $color-primary-text;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: $font-size-2;
    }

    &__button {
        grid-area: 1 / 4 / 2 / 5;
        position: relative; // For z-index to work on edge
        transition: opacity $short-animation-duration $ease-out-quad;
        opacity: 0;
        display: flex;
        align-items: center;
        pointer-events: none;
        overflow: visible;

        &--active {
            opacity: $opacity-6;
            pointer-events: initial;
            cursor: pointer;

            &:hover {
                .text-input__button-icon {
                    transition-delay: $anti-flicker-delay;
                    transform: scale(1.3333);
                }
            }
        }
    }
}
