@import '../shared/constants';
@import '../shared/dropdown';
@import 'sectionMenuHeader';
@import 'sectionPages';
@import 'sectionPagesFilter';

@mixin section-menu-dropdown() {
    position: relative;
    // Entire page is repainted when wrapper is animated if z-index is 0 or undefined
    z-index: 1;
    flex-direction: column;
    height: 37px;

    #section-menu-wrapper {
        @include top-fixable;
    }
}

@mixin section-menu-side-menu() {
    width: $side-menu-width;
    margin-top: 37px;
    margin-right: 66px;
}

@mixin pages-outer-wrapper-dropdown() {
    @include dropdown-outer-wrapper;
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
}

@mixin pages-inner-wrapper-dropdown() {
    @include dropdown-inner-wrapper;
    @include horizontal-edge-padding;
    padding-top: 23px;
    padding-bottom: 15px;
    background-color: $color-primary;
}

@mixin pages-outer-wrapper-side-menu() {
    width: $side-menu-width;

    &.fixed {
        position: fixed;
        top: 23px;
    }
}

#core-2 {
    > #section-menu {
        @media #{$media-medium} {
            @include section-menu-dropdown;

            #section-pages-outer-wrapper {
                @include pages-outer-wrapper-dropdown;

                #section-pages-inner-wrapper {
                    @include pages-inner-wrapper-dropdown;
                }
            }
        }
    }
}

#core-1 {
    > #section-menu {
        @media #{$media-medium} {
            @include section-menu-side-menu;

            #section-pages-outer-wrapper {
                @include pages-outer-wrapper-side-menu;
            }
        }
    }
}

#section-menu {
    flex-shrink: 0;
    display: flex;
    font-size: $font-size-2;

    @media #{$media-narrow} {
        @include section-menu-dropdown;
    }

    @media #{$media-wide} {
        @include section-menu-side-menu;
    }

    #section-pages-outer-wrapper {
        @media #{$media-narrow} {
            @include pages-outer-wrapper-dropdown;

            #section-pages-inner-wrapper {
                @include pages-inner-wrapper-dropdown;
            }
        }

        @media #{$media-wide} {
            @include pages-outer-wrapper-side-menu;
        }

        #section-pages-inner-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
}
