@import '../shared/constants';

@mixin section-header-side-menu() {
    display: none;
}

#core-1 {
    > #section-menu {
        #section-menu-header {
            @media #{$media-medium} {
                @include section-header-side-menu;
            }
        }
    }
}

#section-menu-header {
    @include pure-flex;
    @include horizontal-edge-padding;
    flex-shrink: 0;
    font-size: $font-size-2;
    background-color: $color-secondary;
    height: 37px;
    color: $color-secondary-text;

    @media #{$media-wide} {
        @include section-header-side-menu;
    }

    #section-menu-header-button {
        flex-shrink: 0;
        align-items: center;
        padding-left: 20px;
        margin-left: auto;
        flex-shrink: 0;
        margin-right: -7px;

        svg {
            flex-shrink: 0;
            height: 24px;
            width: 24px;
            fill: $color-secondary-text;
            transform: rotate(0);
            transition: transform 0.3s $ease-out-quad;
        }

        &.expanded {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    ul {
        flex-shrink: 0;
        list-style: none;
        padding-top: 8px;
        padding-bottom: 8px;
        flex-shrink: 1;

        li {
            flex-shrink: 0;
            align-items: center;
            flex-shrink: 1;
            // Arbitrary
            min-width: 50px;

            &:nth-last-child(n+2) {
                &::after {
                    flex-shrink: 0;
                    content: "";
                    height: 14px;
                    width: 2px;
                    background-color: $color-primary;
                    margin-right: 8px;
                    margin-left: 8px;
                    opacity: $opacity-1;
                }
            }

            > span, a {
                flex-shrink: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $color-secondary-text;
            }
            // Non links
            > span {
                display: inline;

                &.topic {
                    opacity: $opacity-3;
                }
            }
            // Links
            a {
                @include animated-underline($color-secondary-text, $animated-underline-13px-inline-ypos, $background-color: $color-secondary);
            }
        }
    }
}
