@import '../shared/constants';

blockquote {
    // Blockquotes typically follow ":" lead ups like "For example: <a figure>". For this reason, a slight indentation is helpful for establishing that the
    // blockquote is a child of the previous statement.
    @media #{$media-wide}, #{$media-medium} {
        //margin-left: 20px;
    }

    @media #{$media-narrow} {
        margin-left: 0px;
    }

    display: flex;
    border-left: 3px solid $color-primary-icon;
    background-color: $color-section-body-background;
    flex-direction: column;
    font-style: italic;
    padding: 20px 20px;

    > *:not(:first-child) {
        margin-top: 20px;
    }

    p {
        a {
            @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-section-body-background);
        }
    }
}