@import '../shared/constants';
@import 'article';
@import 'articleList';
@import 'comments';

main {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;

    // Must be padding so overlay reaches footer (can just be a bottom margin for main's last element instead though)
    padding-bottom: 59px;
    flex-direction: column;

    @media #{$media-medium}, #{$media-narrow} {
        position: relative;
    }

    @media #{$media-narrow} {
        padding-left: 14px;
        padding-right: 14px;
        margin-top: 59px;
    }
}
