@import '../shared/constants';

.article-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .al-items {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: auto;

        article {
            flex-shrink: 0;

            + article {
                margin-top: 40px;
            }

            .meta{
                margin-bottom: 14px;
            }

            .title {
                font-size: $font-size-6;

                a {
                    @include animated-underline($color-primary-link, $animated-underline-28px-ypos, 3px, $background-color: $color-primary);
                }
            }
        }
    }

    .pagination-buttons {
        margin-top: 59px;
    }
}
