@import '../shared/constants';

#page-header-navbar {
    @include pure-flex;
    flex-shrink: 0;

    @media #{$media-narrow} {
        @include horizontal-edge-padding;
    }

    ul {
        flex-grow: 1;
        list-style: none;
        align-items: center;

        @media #{$media-narrow} {
            flex-direction: column;
            margin-bottom: 26px;
        }

        li {
            flex-shrink: 0;

            &:nth-last-child(n+2) {
                @media #{$media-medium}, #{$media-wide} {
                    margin-right: 38px;
                }

                @media #{$media-narrow} {
                    margin-bottom: 13px;

                    a {
                        padding-bottom: 1px; // Add padding so underline can be lower
                    }
                }
            }

            a {
                @media #{$media-medium}, #{$media-wide} {
                    padding: 1px 0; // Add padding so underline can be lower
                    // Padding must be symetrical vertically so that text is centered vertically
                }

                @include animated-underline($color-secondary, 100%, 2px, $medium-animation-duration, $color-primary);
            }

            &.active {
                a {
                    background-size: 100% 2px;
                }
            }
        }
    }
}
