@import '../shared/constants';

#page-header-navbar {
    @include pure-flex;
    flex-shrink: 0;

    @media #{$media-narrow} {
        @include horizontal-edge-padding;
    }

    ul {
        flex-grow: 1;
        list-style: none;
        align-items: center;

        @media #{$media-narrow} {
            flex-direction: column;
            margin-bottom: 18px;
        }

        li {
            flex-shrink: 0;

            &:nth-last-child(n+2) {
                @media #{$media-medium}, #{$media-wide} {
                    margin-right: 38px;
                }

                @media #{$media-narrow} {
                    margin-bottom: 7px;
                }
            }

            &.active {
                a {
                    color: $color-primary-text;
                    opacity: $opacity-5;
                }
            }

            &:not(.active) {
                a {
                    @include animated-underline($color-primary-link, $animated-underline-15px-ypos, $duration: $medium-animation-duration, $background-color: $color-primary);
                }
            }
        }
    }
}
