@import '../shared/constants';
@import '../shared/dropdown';
@import 'navbar';
@import 'search';
@import 'searchResults';

#page-header {
    background-color: $color-primary;
    height: 95px;
    display: flex;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    will-change: transform;

    @media #{$media-narrow} {
        flex-direction: column;
    }

    @media #{$media-medium}, #{$media-wide} {
        @include horizontal-edge-padding;
    }

    #page-header-logo-and-button-wrapper {
        @include pure-flex;
        height: 95px;
        align-items: center;
        flex-shrink: 0;

        @media #{$media-narrow} {
            @include horizontal-edge-padding;
        }

        #page-header-logo {
            margin-right: auto;
            flex-shrink: 0;

            img {
                height: 52px;
                transition: transform $short-animation-duration $ease-out-quad;

                &:hover {
                    transition: transform $short-animation-duration $ease-out-back-delayed;
                    transform: scale(1.23076923077);
                }
            }
        }

        #page-header-button {
            @media #{$media-medium}, #{$media-wide} {
                display: none
            }

            flex-shrink: 0;
            width: 23px;
            border: none;
            flex-direction: column;
            //justify-content: space-around; // Does not work with firefox
            span {
                height: 3px;
                width: 23px;
                flex-shrink: 0;

                &:nth-last-child(n+2) {
                    margin-bottom: 3px;
                }

                background-color: $color-primary-link;
                transition: transform $medium-animation-duration $ease-out-quad;
            }

            &:hover, &:focus {
                outline: 0;
            }

            &.expanded {
                span {
                    &:nth-child(1) {
                        transform: translate(0, 6px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        // Can't be 0 - https: //bugzilla.mozilla.org/show_bug.cgi?id=1425213
                        transform: scaleX(0.0001);
                    }

                    &:nth-child(3) {
                        transform: translate(0, -6px) rotate(-45deg);
                    }
                }
            }
        }
    }

    #page-header-navbar-and-search-outer-wrapper {
        display: flex;

        @media #{$media-medium}, #{$media-wide} {
            align-self: center;
            flex-grow: 1;
            margin-left: 36px;
        }

        @media #{$media-narrow} {
            margin-top: -8px;
            position: absolute;
            top: 95px;
            left: 0;
            right: 0;
            @include dropdown-outer-wrapper;
        }

        #page-header-navbar-and-search-inner-wrapper {
            @media #{$media-medium}, #{$media-wide} {
                display: flex;
                flex-grow: 1;
            }

            @media #{$media-narrow} {
                @include dropdown-inner-wrapper;
                background-color: $color-primary;
            }
        }
    }
}
