@import '../shared/constants';
@import '../shared/dropdown';
@import 'search';

@mixin page-header-dropdown() {
    @include dropdown;
    @include header-dropdown;
    @include search-dropdown;

    &__navbar {
        @include horizontal-edge-padding;

        ul {
            flex-direction: column;
            margin-bottom: 26px;
            align-items: center;

            li {

                &:nth-child(n+2) {
                    margin-top: 16px;
                }

                a {
                    padding-bottom: 1px; // Add padding so underline can be lower
                }
            }
        }
    }

    &__header {
        height: 95px;
        z-index: 2;
        position: relative;
    }

    &__logo {
        margin-right: auto;
        flex-shrink: 0;
    }
}

@mixin page-header-bar() {
    @include search-bar;
    display: flex;

    .dropdown__button {
        display: none;
    }

    &__content {
        flex-shrink: 0;
        flex-grow: 1;
        display: flex;
    }

    &__header {
        @include horizontal-edge-padding('left');
        flex-shrink: 0;
    }

    &__navbar {
        padding-left: 36px;
        height: 95px;
        flex-shrink: 0;

        ul {
            align-items: center;

            li {
                &:nth-last-child(n+2) {
                    margin-right: 38px;
                }

                a {
                    padding: 1px 0; // Add padding so underline can be lower
                    // Padding must be symetrical vertically so that text is centered vertically
                }
            }
        }
    }
}

.page-header {
    grid-area: header;
    z-index: 1;
    position: relative; // Edge workaround: z-index doesn't work for grid area elements unless position is relative
    @media #{$media-narrow} {
        @include page-header-dropdown;
    }

    @media #{$media-medium}, #{$media-wide} {
        @include page-header-bar;
    }

    &__header, &__content, &__navbar {
        background-color: $color-primary;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        transition: transform $short-animation-duration $ease-out-quad;

        svg {
            height: 59px;
        }

        &:hover {
            transition: transform $short-animation-duration $ease-out-back-delayed;
            transform: scale(1.2);
        }
    }

    &__website-name {
        display: flex;
        color: $color-brand;
        font-size: 10px;
        line-height: 1;
        border: 2px solid $color-brand;
        padding: 0 9px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    }

    &__navbar {
        display: flex;

        ul {
            display: flex;
            flex-grow: 1;

            li {
                display: flex;
                flex-shrink: 0;

                a {
                    &.active {
                        @include animated-underline-core($color-secondary, 100%, 2px); // No need hover listener
                        @include decenders-gap($color-primary);
                        color: $color-secondary;
                        background-size: 100% 2px;
                    }

                    &:not(.active) {
                        @include animated-underline($color-primary-link, 100%, 2px, $medium-animation-duration, $color-primary);
                    }
                }
            }
        }
    }

    &--search-results-expanded {
        z-index: 5;
    }

    &--search-results-collapsing {
        z-index: 5;
    }
}
