@import '../shared/constants';

#search-results {
    display: none;
    padding-bottom: 59px;
    flex-grow: 1;
    flex-direction: column;
    flex-shrink: 0;

    @media #{$media-medium}, #{$media-wide} {
        position: absolute;
        top: 95px;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: $color-primary;
    }

    #search-string {
        @include horizontal-edge-padding;
        flex-shrink: 0;
        font-size: $font-size-2;
        background-color: $color-secondary;
        min-height: 37px;
        padding: 8px 0;
        justify-content: center;
        color: $color-secondary-text;
        margin-bottom: 50px;

        span {
            align-items: center;
        }
    }

    > span {
        @include horizontal-edge-margin;
        flex-shrink: 0;
        margin: -8px 0;
    }

    .article-list {
        @include horizontal-edge-margin;
        flex-shrink: 0;

        mark {
            background-color: $color-primary-highlight;
            display: inline;
            color: inherit;
            text-shadow: none;
        }
    }
}
