@import '../shared/constants';

#page-header-search {
    // Note: Media width is flaky in Edge. Using a medium to wide viewport, navigate between contact, privacypolicy and licenses in the blog example. Notice how the search bar
    // sometimes starts out underlined. This is because the contents of this narrow query are somehow being applied initially. No easy fix.
    @media #{$media-narrow} {
        @include horizontal-edge-margin;
        margin-bottom: 22px;
    }

    @media #{$media-medium}, #{$media-wide} {
        margin-left: auto;
        width: $side-menu-width;
    }
}
