<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns#" {{#mimo_pageID}}id={{mimo_pageID}}{{/mimo_pageID}}>
    {{>partials/head/head}}
    <body class="{{#mimo_menusClass}}{{mimo_menusClass}}{{/mimo_menusClass}} {{#mimo_isDisplay}}body--is-display{{/mimo_isDisplay}} {{#mimo_isSearchableDisplay}}body--is-searchable-display{{/mimo_isSearchableDisplay}}" >
        {{>partials/pageHeader/pageHeader}}
        {{>partials/breadcrumbs/breadcrumbs}}
        {{>partials/categoryMenu/categoryMenu}}
		{{>partials/articleMenu/articleMenu}}
        {{>partials/main/main}}
        {{>partials/pageFooter/pageFooter}}
        <div class="overlay"></div>
    </body>
</html>
