{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
<!DOCTYPE html>

<html {{#mimo_pageID}}id={{mimo_pageID}}{{/mimo_pageID}}>
  {{>partials/head}}
  <body>
      {{>partials/header}}
	  {{>partials/breadcrumbs}}
      {{>partials/searchResults}}

	  <div class="container hide-on-search {{#mimo_disableBreadcrumbs}}breadcrumbs-disabled{{/mimo_disableBreadcrumbs}}">
			{{>partials/leftMenu}}

			<main role="main" class="{{#mimo_disableBreadcrumbs}}breadcrumbs-disabled{{/mimo_disableBreadcrumbs}}">
				{{>partials/article}}
				{{>partials/sortedArticleList}}
                {{>partials/comments}}

			</main>
			{{>partials/rightMenu}}

	  </div>
      {{>partials/footer}}
  </body>
</html>
