{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix">
      {{>partials/header}}
	  {{^_disableBreadcrumb}}
	  {{>partials/breadcrumbs}}
	  {{/_disableBreadcrumb}}
      {{#jr.enableSearch}}
      {{>partials/searchResults}}
      {{/jr.enableSearch}}
      <div id="main" role="main" class="container">
			{{^_disableToc}}
			{{>partials/toc}}
			{{/_disableToc}}
            <article class="content wrap" id="_content" data-uid="{{uid}}">
              {{{rawTitle}}}
              {{^jr.disableMetadata}}
              {{>partials/metadata}}
              {{/jr.disableMetadata}}
              {{#jr.enableArticleList}}
              {{>partials/articleList}}
              {{/jr.enableArticleList}}
              {{^jr.enableArticleList}}
              {{{conceptual}}}
              {{/jr.enableArticleList}}
            </article>
          {{^_disableAffix}}
          {{>partials/affix}}
          {{/_disableAffix}}
	  </div>
      {{^_disableFooter}}
      {{>partials/footer}}
      {{/_disableFooter}}
    {{>partials/scripts}}
  </body>
</html>
