{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
<!DOCTYPE html>

<html {{#mimo_pageID}}id={{mimo_pageID}}{{/mimo_pageID}}>
    {{>partials/head/head}}
    <body class="preload">
        {{>partials/pageHeader/pageHeader}}

        <div id="core{{#mimo_innerCore}}-outer{{/mimo_innerCore}}" {{#mimo_menuBefore}}class="menu-before"{{/mimo_menuBefore}} {{#mimo_menuAfter}}class="menu-after"{{/mimo_menuAfter}}>
            {{>partials/sectionMenu/sectionMenu}}

            {{#mimo_innerCore}}
            <div id="core-inner">
            {{/mimo_innerCore}}

                {{>partials/shared/main}}
		        {{>partials/articleMenu/articleMenu}}

            {{#mimo_innerCore}}
            </div>
            {{/mimo_innerCore}}          
        </div>

        {{>partials/pageFooter/pageFooter}}
        <div id="overlay"></div>
    </body>
</html>
