@import 'constants';

.article-list {
    flex-direction: column;
    flex-grow: 1;
    margin-top: -5px;

    .al-items {
        flex-direction: column;
        flex-grow: 1;

        article {

            + article {
                padding-top: $gap-3;
            }

            h1 {
                margin-top: 0;
                font-size: $font-size-6;

                & + p {
                    margin-top: $gap-5;
                }
            }

            h2 {
                font-size: $font-size-4;

                & + p {
                    margin-top: $gap-4;
                }
            }

            p {
                & + h2 {
                    margin-top: $gap-3;
                }

                & + h3 {
                    margin-top: $gap-4;
                }
            }

            .meta {
                margin-top: $gap-5;

                & + p {
                    margin-top: $gap-5;
                }
            }
        }
    }

    .al-pagination {
        padding-top: $gap-1;
    }
}
