@import 'constants';

#article-list {
    display: flex;
    flex-direction: column;

    #al-items-current {
        display: flex;
        flex-direction: column;

        .al-item {
            + .al-item {
                padding-top: $gap-2;
            }


            h1 {
                font-size: $font-size-4;
                margin-top: 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    @include animated-underline($link-color-main, $link-color-main, $gap-8);
                }
            }
        }
    }

    #al-pagination {
        padding-top: $gap-1;

        @media #{$media-narrow} {
            width: 90%;
        }

        @media #{$media-wide}, #{$media-medium} {
            width: 61.8%;
        }
    }

    .al-items-all {
        display: none;
    }
}
