@import 'constants';

main#index {
    align-items: center;

    #_content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &::after {
        content: "";
        max-height: $gap-2;
        flex-grow: 1;
    }
}
