@import './constants';

article#index {
    #article-list {
        align-items: center;

        #al-items-current {
            align-items: center;

            .al-item {
                @media #{$media-narrow}{
                    width: 90%;
                }

                @media #{$media-wide}, #{$media-medium} {
                    width: 61.8%;
                }
            }
        }
    }
}
