@import 'constants';

article {
    flex-grow: 1;
    flex-direction: column;
    max-width: 994px;

    h1 {
        margin-top: -13px;
        line-height: 1.3;

        & + .content {
            h2 {
                &:first-child {
                    margin-top: 30px;
                }
            }

            p {
                &:first-child {
                    margin-top: 19px;
                }
            }
        }
    }

    .meta {
        margin-top: 7px;

        & + p, & + div {
            margin-top: 16px;
        }

        & + #right-menu {
            margin-top: 22px;
        }

        ul {
            font-size: $font-size-2;
            flex-wrap: wrap;

            li {
                align-items: center;
                padding-right: 19px;
                padding-bottom: 5px;

                &:last-child {
                    padding-right: 0;
                }

                a, span {
                    align-items: center;
                    color: inherit;
                }

                &::before {
                    padding-right: 5px;
                }

                &#metadata-date {
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 6px;
                        fill: $color-primary-text;
                    }

                    opacity: $opacity-4;
                }

                &#metadata-author {
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 6px;
                        fill: $color-primary-text;
                    }

                    a {
                        span {
                            @include animated-underline($color-primary-text, $animated-underline-13px-ypos, $background-color: $color-primary);
                        }
                    }

                    svg, span {
                        opacity: $opacity-4;
                    }

                    img {
                        height: 16px;
                        width: 16px;
                        margin-left: 7px;
                    }
                }

                &#metadata-edit-article {
                    span:last-child {
                        opacity: $opacity-4;
                        background-image: linear-gradient(to right, $color-primary-text, $color-primary-text);
                    }
                }
            }
        }
    }

    #right-menu {
        & + .content {
            h2 {
                &:first-child {
                    margin-top: 37px;
                }
            }

            p {
                &:first-child {
                    margin-top: 25px;
                }
            }
        }
    }

    .content {
        h2, h3, h4 {
            display: flex;
            align-items: center;
            line-height: 1.3;
            flex-wrap: wrap;

            &:hover {
                .heading-link {
                    opacity: $opacity-6;
                }
            }

            .heading-link {
                display: flex;
                align-items: center;
                opacity: 0;
                transition: opacity 0.26s $ease-out-quad-delayed;
                margin-left: 9px;

                svg {
                    width: 24px;
                    height: 24px;
                    fill: $color-primary-text-link;
                }
            }

            > span {
                display: flex;
                flex-wrap: nowrap;
            }
        }

        p {
            display: block;
        }

        span, em, code, a {
            display: inline;
        }

        flex-direction: column;
        margin-bottom: -6px;

        a:not(.heading-link) {
            @include animated-underline($color-primary-text-link, $animated-underline-15px-inline-ypos, $background-color: $color-primary);
        }

        h2 {
            & + p {
                margin-top: 27px;
            }

            & + h3 {
                margin-top: 27px;
            }

            & + * {
                margin-top: 36px;
            }

            &:after {
                content: "";
                width: 100%;
                height: 2px;
                margin-top: 10px;
                background-color: $color-primary-divider;
            }
        }

        h3 {
            & + p {
                margin-top: 21px;
            }

            & + h4 {
                margin-top: 22px;
            }

            & + * {
                margin-top: 31px;
            }
        }

        h4 {
            & + p {
                margin-top: 22px;
            }

            & + * {
                margin-top: 34px;
            }
        }

        p {
            & + h2 {
                margin-top: 35px;
            }

            & + h3 {
                margin-top: 21px;
            }

            & + h4 {
                margin-top: 22px;
            }

            & + p {
                margin-top: 15px;
            }

            & + * {
                margin-top: 32px;
            }
        }

        * {
            & + h2 {
                margin-top: 42px;
            }

            & + h3 {
                margin-top: 33px;
            }

            & + h4 {
                margin-top: 34px;
            }

            & + p {
                margin-top: 32px;
            }
        }
    }
}
