@import 'constants';

.article-list {
    flex-direction: column;
    flex-grow: 1;
    margin-top: -10px;

    .al-items {
        flex-direction: column;
        flex-grow: 1;

        article {

            + article {
                padding-top: 41px;
            }

            h2 {
                font-size: $font-size-5;

                & + h3{
                    margin-top: 9px;
                }
            }

            h3{
                & + h4{
                    margin-top: 9px;
                }
            }

            h3, h4 {
                font-size: $font-size-4;
            }

            h2, h3, h4 {
                color: $color-primary-text;

                & + p {
                    margin-top: 9px;
                }
            }

            p {
                & + h2, & + h3, & + h4 {
                    margin-top: 11px;
                }
            }

            h1 {
                margin-top: 0;
                font-size: $font-size-6;
                display: block; // necessary for underlining to work
                > a {
                    @include animated-underline($color-primary-link, $animated-underline-32px-ypos, 2px, $background-color: $color-primary);
                }
            }

            .meta {
                margin-top: 1px;

                & + div {
                    margin-top: 6px;
                }
            }
        }
    }

    .al-pagination {
        margin-top: 56px;
    }
}
