@import 'constants';

article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 994px;

    .title {
        font-size: $font-size-7;
        font-weight: 600;
        margin-top: -13px;
        line-height: 1.3;

        & + .content {
            > .heading-1 {
                &:first-child {
                    margin-top: 30px;
                }
            }

            > p {
                &:first-child {
                    margin-top: 19px;
                }
            }

            > * {
                &:first-child {
                    margin-top: 27px;
                }
            }
        }

        & + .meta {
            margin-top: 7px;
        }
    }

    .meta {
        @include pure-flex;

        & + .content {
            > .heading-1 {
                &:first-child {
                    margin-top: 30px;
                }
            }

            > p {
                &:first-child {
                    margin-top: 18px;
                }
            }

            > * {
                &:first-child {
                    margin-top: 27px;
                }
            }
        }

        & + #right-menu {
            margin-top: 22px;
        }

        ul {
            font-size: $font-size-2;
            flex-wrap: wrap;

            li {
                align-items: center;
                padding-right: 19px;
                padding-bottom: 5px;

                &:last-child {
                    padding-right: 0;
                }

                a, span {
                    align-items: center;
                    color: inherit;
                }

                span {
                    opacity: $opacity-4;
                }

                &::before {
                    padding-right: 5px;
                }

                &#metadata-date {
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 6px;
                        fill: $color-primary-icon;
                    }
                }

                &#metadata-author {
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 6px;
                        fill: $color-primary-icon;
                    }

                    a {
                        span {
                            @include animated-underline($color-primary-text, $animated-underline-13px-ypos, $background-color: $color-primary);
                        }
                    }

                    img {
                        height: 16px;
                        width: 16px;
                        margin-left: 7px;
                    }
                }

                &#metadata-edit-article {
                    span:last-child {
                        opacity: $opacity-4;
                        background-image: linear-gradient(to right, $color-primary-text, $color-primary-text);
                    }
                }
            }
        }
    }

    #right-menu {
        & + .content {
            > .heading-1 {
                &:first-child {
                    margin-top: 37px;
                }
            }

            > p {
                &:first-child {
                    margin-top: 25px;
                }
            }
        }
    }

    .content {
        h1 {
            font-size: $font-size-6;
            font-weight: 600;
        }

        h2 {
            font-size: $font-size-5;
            font-weight: 600;
        }

        h3 {
            font-size: $font-size-4;
            font-weight: 600;
        }

        h4, h5, h6 {
            font-size: $font-size-3;
        }
        // So margin's don't collapse
        display: flex;
        flex-direction: column;
        margin-bottom: -6px;

        .heading-1, .heading-2 {
            display: flex;
            align-items: center;
            line-height: 1.3;
            flex-wrap: wrap;

            .wrapper {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;

                &:hover {
                    div {
                        opacity: $opacity-6;
                    }
                }

                div {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    margin-left: 9px;
                    opacity: 0;
                    transition: opacity 0.35s $ease-out-quad-delayed;

                    svg {
                        width: 24px;
                        height: 24px;
                        fill: $color-primary-link-disabled;
                        transition: fill 0.35s $ease-out-quad-delayed;

                        &:hover {
                            fill: $color-primary-link;
                        }
                    }
                }
            }
        }

        hr {
            width: 100%;
            height: 1px;
            border: 0;
            background-color: $color-section-header-background;
        }

        .heading-1 {
            &:after {
                content: "";
                width: 100%;
                height: 2px;
                margin-top: 10px;
                background-color: $color-section-header-background;
            }
        }

        a {
            @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-primary);
        }

        $paragraphLikeElements: p, ul, ol, h4, h5, h6;
        $headingElements: heading-1, heading-2, h3;

        .heading-1 {
            @each $element in $paragraphLikeElements {
                & + #{$element} {
                    margin-top: 34px;
                }
            }

            & + .#{nth($headingElements, 2)} {
                margin-top: 36px;
            }

            & + * {
                margin-top: 41px;
            }
        }

        .heading-2 {
            @each $element in $paragraphLikeElements {
                & + #{$element} {
                    margin-top: 20px;
                }
            }

            & + #{nth($headingElements, 3)} {
                margin-top: 23px;
            }

            & + * {
                margin-top: 34px;
            }
        }

        h3 {
            @each $element in $paragraphLikeElements {
                & + #{$element} {
                    margin-top: 15px;
                }
            }

            & + * {
                margin-top: 23px;
            }
        }

        @each $element in $paragraphLikeElements {
            #{$element} {
                & + .#{nth($headingElements, 1)} {
                    margin-top: 41px;
                }

                & + .#{nth($headingElements, 2)} {
                    margin-top: 43px;
                }

                & + #{nth($headingElements, 3)} {
                    margin-top: 17px;
                }

                @each $element in $paragraphLikeElements {
                    & + #{$element} {
                        margin-top: 15px;
                    }
                }

                & + * {
                    margin-top: 23px;
                }
            }
        }

        > * {
            & + .#{nth($headingElements, 1)} {
                margin-top: 50px;
            }

            & + .#{nth($headingElements, 2)} {
                margin-top: 53px;
            }

            & + #{nth($headingElements, 3)} {
                margin-top: 24px;
            }

            @each $element in $paragraphLikeElements {
                & + #{$element} {
                    margin-top: 23px;
                }
            }

            & + * {
                margin-top: 30px;
            }
        }

        em {
            font-style: italic;
            font-weight: inherit;
        }

        strong {
            font-weight: 600;
            font-style: inherit;
        }

        ol, ul {
            display: flex;
            flex-direction: column;
            padding-left: 44px;
        }

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: square;
        }

        li {
            display: list-item;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
            // If a nested list is the first child of a list item, it has no top margin
            ul, ol {
                &:first-child {
                    li {
                        &:first-child {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .table-block {
            align-self: stretch;
            overflow-x: auto;

            table {
                width: 100%;

                td {
                    padding: 18px 28px;

                    @media #{$media-narrow} {
                        padding: 10px 20px;
                    }
                }

                th {
                    padding: 6px 28px;

                    @media #{$media-narrow} {
                        padding: 6px 20px;
                    }

                    font-weight: 600;
                    background-color: $color-section-header-background;
                }

                tbody {
                    tr {
                        &:nth-child(even) {
                            background-color: $color-section-body-background;

                            a {
                                @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-section-body-background);
                            }

                            *:not(pre) {
                                > code {
                                    background-color: $color-primary-inline-code-dark-background;
                                }
                            }
                        }
                    }
                }
            }
        }

        blockquote {
            display: flex;
            border-left: 3px solid $color-primary-icon;
            padding: 18px 26px;
            background-color: $color-section-body-background;
            flex-direction: column;
            font-style: italic;

            @media #{$media-narrow} {
                padding: 10px 20px;
            }

            p {
                a {
                    @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-section-body-background);
                }
            }
        }

        .alert-note, .alert-warning, .alert-critical-warning {
            display: flex;
            border-left: 3px solid;
            padding: 18px 26px;
            padding-left: 12px;

            @media #{$media-narrow} {
                padding: 10px 20px;
                padding-left: 7px;
            }

            svg {
                margin-right: 11px;

                @media #{$media-narrow} {
                    margin-right: 6px;
                }

                height: 24px;
                width: 24px;
                flex-shrink: 0;
            }

            .alert-content {
                display: flex;
                flex-direction: column;
            }
        }

        .alert-note {
            background-color: $color-alert-note-background;
            border-color: $color-secondary;

            .alert-content {
                a {
                    @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-alert-note-background);
                }
            }

            svg {
                fill: $color-secondary;
            }
        }

        .alert-warning {
            background-color: $color-alert-warning-background;
            border-color: $color-alert-warning;

            .alert-content {
                a {
                    @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-alert-warning-background);
                }
            }

            svg {
                fill: $color-alert-warning;
            }
        }

        .alert-critical-warning {
            background-color: $color-alert-critical-warning-background;
            border-color: $color-alert-critical-warning;

            .alert-content {
                a {
                    @include animated-underline($color-primary-link, $animated-underline-15px-inline-ypos, $background-color: $color-alert-critical-warning-background);
                }
            }

            svg {
                fill: $color-alert-critical-warning;
            }
        }

        .tabGroup {
            display: flex;
            flex-direction: column;

            ul[role="tablist"] {
                padding-left: 0;
                display: flex;
                flex-direction: row;

                li {
                    list-style: none;
                    margin-top: 0;
                }
            }

            > section {
                border: 1px solid $color-section-header-background;
                padding: 22px 29px;
            }
        }

        .image-block {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                display: block;
                max-width: 100%;
            }

            footer {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .image-description {
                    font-size: $font-size-2;
                }

                .image-credits {
                    margin-top: 2px;
                    font-size: $font-size-1;
                }
            }
        }
    }

    & + #sorted-article-list {
        margin-top: 45px;
    }
}
