@import 'constants';

article {
    flex-grow: 1;
    flex-direction: column;
    max-width: 994px;

    &.jtcd-article {
        h1 {
            margin-top: -9px;
        }

        h1, h2, h3, h4 {
            align-items: center;

            &:hover {
                .heading-link {
                    opacity: $opacity-4;
                }
            }

            .heading-link {
                display: flex;
                align-items: center;
                opacity: 0;
                transition: opacity 0.26s $ease-out-quad-delayed;
                margin-left: 7px;

                svg {
                    width: 24px;
                    height: 24px;
                    fill: $color-primary-text-link;
                }
            }
        }
    }

    h1, h2, h3, h4 {
        line-height: 1.1;
        word-break: normal;
        word-wrap: normal;
    }

    h1 {
        color: #646464;

        & + p, & + div {
            margin-top: 26px;
        }
    }

    h2 {
        color: #595959;

        & + p {
            margin-top: 10px;
        }
    }

    h3 {
        color: #4a4a4a;

        & + p {
            margin-top: 11px;
        }
    }

    h4 {
        color: #252525;

        & + p {
            margin-top: 10px;
        }
    }

    p {
        & + h2 {
            margin-top: 38px;
        }

        & + h3 {
            margin-top: 27px;
        }

        & + h4 {
            margin-top: 26px;
        }

        & + p {
            margin-top: 10px;
        }
    }

    .meta {
        margin-top: 11px;

        & + p, & + div {
            margin-top: 18px;
        }

        & + #right-menu {
            margin-top: 23px;
        }

        ul {
            font-size: $font-size-2;
            flex-wrap: wrap;

            li {
                align-items: center;
                padding-right: 19px;
                padding-bottom: 5px;

                &:last-child {
                    padding-right: 0;
                }

                a, span {
                    display: flex;
                    align-items: center;
                    color: inherit;
                }

                &::before {
                    padding-right: 5px;
                }

                &#metadata-date {
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 6px;
                        fill: $color-primary-text;
                    }

                    opacity: $opacity-2;
                }

                &#metadata-author {
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 6px;
                        fill: $color-primary-text;
                    }

                    a {
                        span {
                            @include animated-underline($color-primary-text, $animated-underline-13px-ypos, $background-color: $color-primary);
                        }
                    }

                    svg, span {
                        opacity: $opacity-2;
                    }

                    img {
                        height: 16px;
                        width: 16px;
                        margin-left: 7px;
                    }
                }

                &#metadata-edit-article {
                    span:last-child {
                        opacity: $opacity-2;
                        background-image: linear-gradient(to right, $color-primary-text, $color-primary-text);
                    }
                }
            }
        }
    }

    span, em, p, a {
        display: inline;
    }

    #content {
        flex-direction: column;
        margin-bottom: -6px;

        a:not(.heading-link) {
            @include animated-underline($color-primary-text-link, $animated-underline-15px-ypos, $background-color: $color-primary);
        }
    }
}
