@import 'constants';

html#about {
    main {
        align-items: center;

        & > article {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &::after {
            content: "";
            max-height: $gap-2;
            flex-grow: 1;
        }
    }
}
