@import 'constants';

#breadcrumbs {
    font-size: $font-size-1;
    border-bottom: 1px solid $border-color-light;
    background-color: #f8f8f8;

    ul {
        display: flex;
        list-style: none;

        li {
            height: $gap-2;
            display: flex;
            align-items: center;

            + li:before {
                content: "\00a0/";
                padding: 0 5px;
                color: $font-color-importance-1;
            }
        }
    }
}
