@import 'constants';

#breadcrumbs {
    font-size: $font-size-1;
    background-color: $color-primary-1;
    justify-content: center;
    height: $gap-2;
    background-clip: padding-box;
    box-shadow: 0 2px $fade-box-shadow;

    .container {
        ul {
            list-style: none;
            flex-wrap: wrap;

            li {
                align-items: center;

                span {
                    color: #fff;
                }

                + li {
                    span {
                        &:first-child {
                            &::before {
                                content: "\00a0/";
                                padding-left: $gap-6;
                                padding-right: $gap-5;
                                color: #fff;
                            }
                        }
                    }

                    > span {
                        color: #fff;

                        &:last-child {
                            opacity: $opacity-disabled;
                        }
                    }
                }

                a {
                    align-items: center;

                    span {
                        &:last-child {
                            @include animated-underline(#fff, #fff, $gap-9);
                        }
                    }
                }
            }
        }
    }
}
