@import 'constants';

code {
    padding: 2px 6px;
    background-color: $color-primary-code-background;
    font-family: $code-font-family;
    font-size: 14px;
}

pre {
    white-space: pre-wrap;
    border: 1px solid $color-primary-text;
    // Display header only if code has title
    /*&:before{
        content:"";
        height: 37px;
        width: 100%;
    }*/
    div {
        align-self: flex-start;
        margin-top: 12px;
        margin-right: 11px;
        flex-shrink: 0;
        cursor: pointer;

        svg {
            height: 24px;
            width: 24px;
            fill: $color-primary-link-disabled;
            transition: fill 0.4s $ease-out-quad-delayed;

            &:hover {
                fill: $color-primary-text-link;
            }
        }
    }

    code {
        flex-grow: 1;
        background-color: initial;
        width: 0;
        margin: 20px 27px;
        padding: 0;

        @media #{$media-narrow} {
            margin: 16px 23px;
        }
    }
}
