@import 'constants';

code {
    padding: 2px 5px;
    font-family: $code-font-family;
    font-size: 13px;
    line-height: 1.4;
    border: 1px solid $color-primary-divider;
}

.code-block {
    border: 1px solid $color-primary-divider;
    display: flex;

    pre {
        margin: 22px 29px;

        @media #{$media-narrow} {
            // Left margin two more than blockquotes to align text
            margin: 18px 22px;
        }

        white-space: pre-wrap;
        display: flex;
        flex-grow: 1;

        code {
            border: 0;
            // Prevents code from overflowing on narrower screens
            word-wrap: break-word;
            background-color: transparent;
            flex-grow: 1;
            width: 0;
            padding: 0;
        }
    }

    div[role="button"] {
        display: flex;
        margin-left: auto;
        margin-top: 19px;
        margin-right: 17px;
        align-self: flex-start;
        flex-shrink: 0;
        cursor: pointer;

        svg {
            height: 24px;
            width: 24px;
            fill: $color-primary-link-disabled;
            transition: fill 0.35s $ease-out-quad-delayed;

            &:hover {
                fill: $color-primary-link;
            }
        }
    }
}

/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
    background-color: transparent;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #0000ff;
}

.hljs-string {
    color: #a31515;
}

.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #000000;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #808080;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
