@import 'constants';

code {
    padding: 2px 6px;
    background-color: $color-primary-code-background;
    font-family: $code-font-family;
    font-size: 13px;
    line-height: 1.3;
}

pre {
    white-space: pre-wrap;
    border: 1px solid $color-primary-text;
    // Display header only if code has title
    /*&:before{
        content:"";
        height: 37px;
        width: 100%;
    }*/
    div {
        align-self: flex-start;
        margin-top: 12px;
        margin-right: 11px;
        flex-shrink: 0;
        cursor: pointer;

        svg {
            height: 24px;
            width: 24px;
            fill: $color-primary-link-disabled;
            transition: fill 0.35s $ease-out-quad-delayed;

            &:hover {
                fill: $color-primary-link;
            }
        }
    }

    code {
        flex-grow: 1;
        background-color: initial;
        width: 0;
        margin: 20px 27px;
        padding: 0;

        @media #{$media-narrow} {
            margin: 16px 23px;
        }
    }
}

/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
    display: block;
    background: white;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #0000ff;
}

.hljs-string {
    color: #a31515;
}

.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #000000;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #808080;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
