@import 'constants';

#comments {
    @include pure-flex;

    margin-top: 42px;
    margin-bottom: -11px;
    flex-direction: column;

    #disqus_thread {
        height: 0px;
        overflow: hidden;
        transition: height 0.5s $ease-out-quad;
    }

    #comments-loader {
        padding-top: 17px;
        padding-bottom: 6px;
        flex-direction: column;
        align-items: center;
        transition: opacity 0.26s $ease-out-quad, height 0.26s $ease-out-quad;

        span {
            margin-top: 6px;
        }
    }
}
