$link-color-main: #337ab7;
$link-color-hover: #23527c;
$border-radius-main: 4px;
$border-color-1: #ddd;
$border-color-2: #ccc;
$border-color-3: #888;
$transition-2: 0.1s ease-in-out;
$transition-1: 0.15s ease-in-out;
$transition-delayed-2: 0.1s ease-in-out 0.050s;
$transition-delayed-1: 0.15s ease-in-out 0.050s;
$font-color-importance-1: #ccc;
$font-color-importance-2: #999;
$font-color-importance-3: #333;
$gap-9: 1px;
$gap-8: 2px;
$gap-7: 3px;
$gap-6: 5px;
$gap-5: 9px;
$gap-4: 14px;
$gap-3: 23px;
$gap-2: 37px;
$gap-1: 60px;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 37px;
$media-narrow: '(max-width: 768px)';
$media-medium: '(min-width: 769px) and (max-width: 1024px)';
$media-wide: '(min-width: 1025px)';
@mixin font-awesome($code) {
    &::before {
        content: $code;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
    }
}

@mixin linearicon($code, $color) {
    &::before {
        font-family: 'Linearicons-Free';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: $code;
        color: $color;
    }
}

@mixin animated-underline($startColor, $endColor, $underline-height) {
    flex-direction: column;
    text-decoration: none;
    // Most fonts have characters that extend above or below the line when line-height: 1.
    // This can cause vertical overflow. When overflow: auto, add padding to avoid unexpected
    // scrollbars.
    line-height: 1;

    &:hover::after {
        visibility: visible;
        transform: scaleX(1);
        background-color: $endColor;
    }

    &::after {
        content: "";
        width: 100%;
        height: $underline-height;
        background-color: $startColor;
        visibility: hidden;
        transform: scaleX(0);
        transition: all $transition-delayed-2;
    }
    // Facilitates centering of text
    &::before {
        content: "";
        height: $underline-height;
    }
}