$color-primary: #fff;
$color-primary-text: #212121;
$color-primary-highlight: #FFD039;
$color-primary-link: #1e88e5;
$color-primary-link-disabled: #bebebe;
$color-primary-inline-code-background: #f4f4f4;
$color-primary-inline-code-dark-background: #ececec;
$color-primary-icon: #646464;

$color-secondary: #1565c0;
$color-secondary-text: #fff;

$color-alert-note-background: #f1f6fb;
$color-alert-warning: #ffdb08;
$color-alert-warning-background: #fffdf0;
$color-alert-critical-warning: #ff2508;
$color-alert-critical-warning-background: #fff2f0 ;

$color-section-body-background: #f9f9f9;
$color-section-header-background: #f0f0f0;

$opacity-blockquote: 0.06;
$opacity-1: 0.45;
$opacity-2: 0.54;
$opacity-3: 0.6;
$opacity-4: 0.7;
$opacity-5: 0.80;
$opacity-6: 1.0;

$base-font-family: 'Open Sans', sans-serif;
$code-font-family: 'Droid Sans Mono', monospace;

$ease-out-quad: cubic-bezier(0.33, 0.67, 0.67, 1);
$ease-out-quad-delayed: cubic-bezier(0.33, 0.67, 0.67, 1) 0.06s;

$font-size-1: 11px;
$font-size-2: 13px;
$font-size-3: 15px;
$font-size-4: 16px;
$font-size-5: 20px;
$font-size-6: 26px;
$font-size-7: 42px;

$side-menu-width: 220px;

$media-narrow: '(max-width: 768px)';
$media-medium: '(min-width: 769px) and (max-width: 1279px)';
$media-wide: '(min-width: 1280px)';

$animated-underline-11px-ypos: 14px;
$animated-underline-13px-ypos: 17px;
$animated-underline-13px-inline-ypos: 15px;
$animated-underline-15px-ypos: 20px;
$animated-underline-15px-inline-ypos: 18px;
$animated-underline-26px-ypos: 30px;


@mixin pure-flex(){
    display: flex;
    *{
        display: flex;
    }
}

@mixin text-input-icons() {
    svg {
        height: 18px;
        width: 18px;
        fill: $color-primary-icon;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            transition: opacity 0.26s $ease-out-quad, transform 0.3s $ease-out-quad-delayed;
            margin-left: 5px;
            opacity: 0;
            display: none;
            cursor: pointer;

            &.active {
                opacity: $opacity-6;

                &:hover {
                    transform: scale(1.3333);
                }
            }
        }
    }
}

@mixin animated-underline($color, $y-position, $underline-height: 1px, $duration: 0.5s, $background-color: null) {
    @include animated-underline-core($color, $y-position, $underline-height, $duration);
    transition: background-size $duration $ease-out-quad-delayed, text-shadow 0s linear $duration;

    &:hover {
        background-size: 100% $underline-height;
    }

    @if ($background-color) {
        text-shadow: none;

        &:hover {
            // No mouse enter transition for text-shadow
            transition: background-size $duration $ease-out-quad-delayed;
            @include decenders-gap($background-color);
        }
    }
}


@mixin animated-underline-core($color, $y-position, $underline-height, $duration) {
    background-image: linear-gradient(to top, $color 0, $color $underline-height, transparent $underline-height);
    background-repeat: no-repeat;
    background-position: 0 $y-position;
    background-size: 0% $underline-height; // Note: Edge is unable to handle the background-size transition if width is specified as 0 instead of 0%
    display: inline;
}

@mixin decenders-gap($background-color) {
    /*text-shadow: 1px 0 0 $background-color, 
        2px 0 0 $background-color, 
        -1px 0 0 $background-color, 
        -2px 0 0 $background-color;*/
    text-shadow: 1px 1px 0 $background-color, 1px -1px 0 $background-color, -1px 1px 0 $background-color, -1px -1px 0 $background-color;
}
