/*$color-primary-2: #3f51b5;
﻿@import '../node_modules/material-design-icons/iconfont/material-icons.css';
$color-primary-3: #3949ab;
$color-primary-4: #303f9f;*/
$color-primary-1: #26a69a;
$color-primary-2: #009688;
$color-primary-3: #00897b;
$color-primary-4: #00796b;
$color-secondary-1: #ff8f00;
$color-secondary-2: #ff6f00;

$font-black-on-white-importance-1: #212121;
$font-black-on-white-importance-2: #757575;
$font-black-on-white-importance-3: #ababab;
$font-black-on-white-importance-4: #c9c9c9;
$font-black-on-white-importance-5: #dedede;


$font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
$border-radius-main: 4px;
$transition-2: 0.1s ease-in-out;
$transition-1: 0.15s ease-in-out;
$transition-delayed-2: 0.1s ease-in-out 0.050s;
$transition-delayed-1: 0.15s ease-in-out 0.050s;
$gap-9: 1px;
$gap-8: 2px;
$gap-7: 3px;
$gap-6: 5px;
$gap-5: 9px;
$gap-4: 14px;
$gap-3: 23px;
$gap-2: 37px;
$gap-1: 60px;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 30px;
$font-size-5: 37px;
$media-narrow: '(max-width: 768px)';
$media-medium: '(min-width: 769px) and (max-width: 1024px)';
$media-wide: '(min-width: 1025px)';

@mixin material-design-icon($code, $color) {
    &::before {
        content: $code;
        color: $color;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: $font-size-3;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    }
}

@mixin animated-underline($startColor, $endColor, $underline-height) {
    flex-direction: column;
    text-decoration: none;
    // Most fonts have characters that extend above or below the line when line-height: 1.
    // This can cause vertical overflow. When overflow: auto, add padding to avoid unexpected
    // scrollbars.
    line-height: 1;

    &:hover::after {
        visibility: visible;
        transform: scaleX(1);
        background-color: $endColor;
    }

    &::after {
        content: "";
        width: 100%;
        height: $underline-height;
        background-color: $startColor;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform $transition-delayed-2;
    }
    // Facilitates centering of text
    &::before {
        content: "";
        height: $underline-height;
    }
}
