@import 'constants';

#core {
    display: flex;
    align-self: center;
    // When screen is narrow or medium, left menu needs to be below breadcrumbs
    @media #{$media-medium}, #{$media-narrow} {
        flex-direction: column;
    }

    @media #{$media-narrow} {
        padding: 0;
    }

    @media #{$media-wide} {
        margin-top: 59px;

        &.breadcrumbs-disabled {
            // When breadcrumbs are disabled, header height remains the same, so margin top must be less
            margin-top: 38px;
        }
        // See leftMenuComponent UpdateLeftMenu - If left and right menu are the same height as the article,
        // the min-height fix does not work properly when resizing.
        align-items: flex-start;
    }

    #main-and-right-menu-wrapper {
        display: flex;
        flex-grow: 1;
        position: relative;

        @media #{$media-medium} {
            margin-top: 59px;

            &.breadcrumbs-disabled {
                // When breadcrumbs are disabled, header height remains the same, so padding top must be less
                margin-top: 38px;
            }

            align-items: flex-start;
        }

        @media #{$media-narrow} {
            flex-direction: column-reverse;
        }
    }
}
