@import 'constants';

#core-2 {
    display: flex;
    flex-grow: 1;
    // When screen is narrow or medium, section menu must be above main and article menu
    @media #{$media-medium}, #{$media-narrow} {
        flex-direction: column;
    }

    @media #{$media-wide} {
        @include edge-padding;
    }

    #core-1 {
        @media #{$media-narrow} {
            flex-direction: column-reverse;
        }
    }
}

#core-1 {
    display: flex;
    flex-grow: 1;

    @media #{$media-narrow} {
        flex-direction: column;
    }

    @media #{$media-medium}, #{$media-wide} {
        @include edge-padding;
    }
}
