@import 'constants';

footer {
    font-size: $font-size-2;
    background-color: $color-secondary;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 20px;

    .container {
        align-items: center;
        color: $color-secondary-text;

        a {
            color: inherit;
            white-space: pre;
        }

        #footer-information {
            flex-direction: column;

            .uninteractive {
                opacity: $opacity-2;
            }

            #footer-attribution {
                display: block; // Cannot be flex or inline children will not wrap
                font-size: $font-size-1;
                padding-top: 28px;
                padding-bottom: 1px;

                span, a {
                    display: inline; // So that items wrap normally
                }

                > span {
                    &::after {
                        content: "  \23D0 ";
                        white-space: pre;
                        opacity: $opacity-2;
                    }

                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }
                }

                a {
                    @include animated-underline($color-secondary-text, 13px, $background-color: $color-secondary);
                }
            }

            #footer-legal {
                flex-wrap: wrap;
                padding-bottom: 2px;
                padding-top: 18px;

                span {
                    &::after {
                        content: "  \23D0 ";
                        white-space: pre;
                        opacity: $opacity-2;
                    }

                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }
                }

                a {
                    @include animated-underline($color-secondary-text, 17px, $background-color: $color-secondary);
                }
            }

            #footer-copyright {
                padding-top: 14px;
            }

            #footer-social-media {
                flex-wrap: wrap;

                a {
                    &:last-child {
                        margin-right: 0px;
                    }

                    &:hover {
                        svg {
                            transform: scale(1.3333);
                        }
                    }

                    svg {
                        transition: transform 0.3s $ease-out-quad-delayed;
                        height: 24px;
                        width: 24px;
                        margin-right: 16px;
                        fill: $color-secondary-text;
                    }
                }
            }
        }

        #footer-button {
            margin-left: auto;
            padding-left: 20px;

            a {
                &:hover {
                    svg {
                        transform: scale(1.3333);
                    }
                }

                svg {
                    transition: transform 0.3s $ease-out-quad-delayed;
                    height: 24px;
                    width: 24px;
                    fill: $color-secondary-text;
                }
            }
        }
    }
}
