@import 'constants';

footer {
    font-size: $font-size-1;
    background-color: $color-primary-2;
    height: $gap-1;
    justify-content: center;

    .container {
        align-items: center;
        span{
            color: #fff;
        }
        a {
            color: #fff;
            @include animated-underline(#fff, #fff, $gap-9);
            margin-left: auto;
        }
    }
}
