@import 'constants';

header {
    background-color: $color-secondary-text;
    align-items: stretch;
    justify-content: center;
    min-height: 95px;

    .container {
        @media #{$media-narrow} {
            flex-direction: column;
        }

        #header-logo-and-button {
            @media #{$media-narrow} {
                height: 95px;
            }

            align-items: center;

            #header-logo {
                margin-right: auto;
                transform: scale(1);

                img {
                    transition: transform 0.2s $ease-out-quad;
                    height: 52px;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }

            #header-button {
                @media #{$media-narrow} {
                    width: 23px;
                    height: 18px;
                    border: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    span {
                        height: 3px;
                        width: 23px;
                        background-color: $color-tertiary;
                        transition: transform 0.26s $ease-out-quad, background-color 0.26s $ease-out-quad;
                    }

                    &:hover, &:focus {
                        outline: 0;
                    }

                    &.active {
                        span {
                            &:nth-child(1) {
                                transform: translate(0, 6px) rotate(45deg);
                            }

                            &:nth-child(2) {
                                transform: scaleX(0);
                            }

                            &:nth-child(3) {
                                transform: translate(0, -6px) rotate(-45deg);
                            }
                        }
                    }
                    // TODO aria for entire site
                    .sr-only {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        padding: 0;
                        margin: -1px;
                        overflow: hidden;
                        clip: rect(0, 0, 0, 0);
                        border: 0;
                    }
                }

                @media #{$media-medium}, #{$media-wide} {
                    display: none
                }
            }
        }

        #header-navbar-and-search {
            @media #{$media-medium}, #{$media-wide} {
                flex-grow: 1;
                padding-left: 36px;
            }

            .wrapper {
                align-self: center;

                @media #{$media-narrow} {
                    flex-grow: 1;
                    overflow: hidden;
                    transition: height 0.4s $ease-out-quad;
                    flex-direction: column;
                    height: 0;
                }

                @media #{$media-medium}, #{$media-wide} {
                    height: auto !important;
                    flex-grow: 1;
                }

                #header-navbar {
                    @media #{$media-narrow} {
                        flex-shrink: 0;
                        margin-top: 7px;
                    }

                    ul {
                        flex-grow: 1;
                        list-style: none;
                        align-items: center;

                        @media #{$media-narrow} {
                            flex-direction: column;
                            margin-bottom: 13px;
                            flex-shrink: 0;
                        }

                        li {
                            @media #{$media-medium}, #{$media-wide} {
                                padding-right: 35px;

                                &:last-child {
                                    padding-right: 0px;
                                }
                            }

                            @media #{$media-narrow} {
                                padding-bottom: 7px;

                                &:last-child {
                                    padding-bottom: 0px;
                                }
                            }

                            &.active {
                            }

                            a {
                                @include animated-underline($color-tertiary, 19px, $duration: 0.4s, $background-color: $color-primary);
                            }
                        }
                    }
                }

                #header-search {
                    height: 37px;
                    background-image: linear-gradient($color-secondary, $color-secondary);
                    background-repeat: no-repeat;
                    background-position: 0 100%;

                    @media #{$media-narrow} {
                        flex-shrink: 0;
                        margin-bottom: 37px;
                        align-self: stretch;
                        background-size: 100% 2px;
                    }

                    @media #{$media-medium}, #{$media-wide} {
                        margin-left: auto;
                        width: $side-menu-width;
                        background-size: 0 2px;
                        transition: background-size 0.6s $ease-out-quad-delayed;

                        &:hover, &.focus {
                            background-size: 100% 2px;
                        }
                    }

                    @include material-design-icon('\E8B6', $color-primary-text);
                    transition: border-color 0.26s $ease-out-quad;
                    align-items: center;

                    &::before {
                        background-color: transparent;
                        border: none;
                        padding-right: $icon-text-gap;
                        opacity: $opacity-2;
                    }

                    input {
                        color: $color-primary-text;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        flex-grow: 1;
                        font-size: $font-size-2;
                    }
                }
            }
        }
    }
}
