@import 'constants';

header {
    background-color: $color-secondary-text;
    align-items: stretch;
    justify-content: center;
    min-height: 95px;

    .container {
        @media #{$media-narrow} {
            flex-direction: column;
        }

        #header-logo-and-button {
            @media #{$media-narrow} {
                height: 95px;
            }

            align-items: center;

            #header-logo {
                margin-right: auto;
                transform: scale(1);

                img {
                    transition: transform 0.2 $ease-out-quad;
                    height: 52px;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }

            #header-button {
                @media #{$media-narrow} {
                    width: 23px;
                    height: 18px;
                    border: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    span {
                        height: 3px;
                        width: 23px;
                        background-color: $color-tertiary;
                        transition: transform 0.2 $ease-out-quad, background-color 0.2 $ease-out-quad;
                    }

                    &:hover {
                        outline: 0;

                        span {
                            //background-color: $color-tertiary-active;
                        }
                    }

                    &:focus {
                        outline: 0;
                    }

                    &.active {
                        span {
                            &:nth-child(1) {
                                transform: translate(0, 6px) rotate(45deg);
                            }

                            &:nth-child(2) {
                                transform: scaleX(0);
                            }

                            &:nth-child(3) {
                                transform: translate(0, -6px) rotate(-45deg);
                            }
                        }
                    }

                    .sr-only {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        padding: 0;
                        margin: -1px;
                        overflow: hidden;
                        clip: rect(0, 0, 0, 0);
                        border: 0;
                    }
                }

                @media #{$media-medium}, #{$media-wide} {
                    display: none
                }
            }
        }

        #header-navbar-and-search {
            @media #{$media-medium}, #{$media-wide} {
                flex-grow: 1;
                padding-left: 36px;
            }

            .wrapper {
                @media #{$media-narrow} {
                    flex-grow: 1;
                    overflow: hidden;
                    transition: height 0.26 $ease-out-quad;
                    flex-direction: column;
                    height: 0;
                }

                @media #{$media-medium}, #{$media-wide} {
                    height: auto !important;
                    flex-grow: 1;
                }

                #header-navbar {
                    @media #{$media-narrow} {
                        flex-shrink: 0;
                        margin-top: 7px;
                    }

                    ul {
                        flex-grow: 1;
                        list-style: none;

                        @media #{$media-narrow} {
                            flex-direction: column;
                            margin-bottom: 31px;
                            flex-shrink: 0;
                        }

                        li {
                            @media #{$media-medium}, #{$media-wide} {
                                padding-right: 35px;

                                &:last-child {
                                    padding-right: 0px;
                                }
                            }

                            @media #{$media-narrow} {
                                padding-bottom: 8px;

                                &:last-child {
                                    padding-bottom: 0px;
                                }
                            }

                            &.active {
                                a {
                                    span {
                                        &:last-child {
                                            color: #E07B00;
                                        }
                                    }
                                }
                            }

                            a {
                                flex-direction: column;
                                flex-grow: 1;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

                #header-search {
                    @media #{$media-narrow} {
                        flex-shrink: 0;
                        margin-bottom: 37px;
                        align-self: stretch;
                    }

                    @media #{$media-medium}, #{$media-wide} {
                        margin-left: auto;
                        width: $side-menu-width;
                        align-self: center;
                        padding-top: 10px;
                    }

                    @include material-design-icon('\E8B6', $color-primary-text);
                    //background-color: $color-primary-background;
                    //border-bottom: 1px solid $color-primary-border;
                    transition: border-color 0.2 $ease-out-quad;
                    padding-left: 12px;
                    padding-bottom: 10px;
                    align-items: center;

                    // Does not work, event not propogating or something
                    &.focus {
                        display: none;
                        border-color: $color-tertiary;
                    }

                    &::before {
                        background-color: transparent;
                        border: none;
                        padding-top: 1px;
                        padding-right: $icon-text-gap;
                        opacity: $opacity-2;
                    }

                    input {
                        color: $color-primary-text;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        flex-grow: 1;
                        opacity: $opacity-2;
                        font-size: $font-size-2;
                    }
                }
            }
        }
    }
}
