@import 'constants';

$horizontal-bar-ease-timing: 0.6s;

#left-menu {
    font-size: $font-size-2;
    // Default flex-shrink is 1. When toc contents become fixed, they are taken out of the document flow.
    // Toc's adjacent article element expands fully width-wise. Flexbox thinks main's contents are overflowing width-wise
    // and distributes negative space between toc and article 1:1. To avoid this, flex-shrink must be set to 0.
    flex-shrink: 0;

    @media #{$media-narrow} {
        flex-direction: column;
        overflow-y: hidden;
        transition: height 0.4s $ease-out-quad;
        height: 0;
    }

    @media #{$media-medium}, #{$media-wide} {
        width: $side-menu-width;
        margin-right: 64px;
        height: auto !important;
    }

    .wrapper {
        width: inherit;
        flex-direction: column;

        @media #{$media-narrow} {
            flex-shrink: 0;
            flex-grow: 1;
            background-color: $color-primary-background;
            padding: 23px;
        }

        @media #{$media-medium}, #{$media-wide} {
            &.fixed {
                position: fixed;
                top: $window-border-gap;
            }
        }

        #left-menu-filter {
            margin-bottom: 9px;
            @include material-design-icon('\E152', $color-primary-text);
            height: 37px;
            padding-left: 12px;
            align-items: center;

            @media #{$media-medium}, #{$media-wide} {
                border: 1px solid $color-primary-background;
                background-image: linear-gradient($color-primary-background, $color-primary-background);
                background-repeat: no-repeat;
                background-position: 100% 0;
                background-size: 100% 100%;
                transition: background-size $horizontal-bar-ease-timing $ease-out-quad-delayed, border-color 0.4s $ease-out-quad-delayed;

                &:hover, &.focus {
                    background-size: 0 100%;
                    border-color: $color-primary-border;
                }
            }

            @media #{$media-narrow} {
                border: 1px solid $color-primary;
                background-color: $color-primary;
                transition: border-color 0.4s $ease-out-quad-delayed;

                &.focus {
                    border-color: $color-primary-border;
                }
            }

            &::before {
                background-color: transparent;
                border: none;
                padding-right: $icon-text-gap;
                opacity: $opacity-2;
            }

            input {
                color: $color-primary-text;
                background-color: transparent;
                border: none;
                outline: none;
                flex-grow: 1;
            }
        }

        #left-menu-toc {
            @media #{$media-medium}, #{$media-wide} {
                overflow-y: auto;
            }

            ul {
                flex-grow: 1;
                flex-direction: column;

                li {
                    flex-direction: column;
                    flex-shrink: 0;

                    &.filter-hidden {
                        display: none;
                    }

                    &.filter-match .filter-hidden {
                        display: flex;
                    }

                    &.expandable {
                        > span, > a {
                            &::before {
                                visibility: visible;
                                transform: rotate(0);
                            }
                        }

                        &.expanded {
                            > span, > a {
                                &::before {
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        ul {
                            height: 0;
                            overflow: hidden;
                            transition: height 0.4s $ease-out-quad;
                        }
                    }

                    > span, > a {
                        padding: 8px 0;
                        user-select: none;
                        align-items: center;

                        @include material-design-icon('\E5CC', $color-primary-text);

                        &::before {
                            opacity: $opacity-2;
                            visibility: hidden;
                            transition: transform 0.4s $ease-out-quad;
                            margin-right: 4px;
                        }
                    }

                    > span {
                        cursor: pointer;
                        color: $color-primary-text;
                    }

                    > a {
                        background-image: linear-gradient($color-tertiary, $color-tertiary);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: 0 100%;
                        transition: background-size $horizontal-bar-ease-timing $ease-out-quad-delayed, color 0.4s $ease-out-quad-delayed;

                        &.active {
                            background-color: $color-secondary;
                        }

                        &:hover:not(.active) {
                            background-size: 100% 100%;
                        }

                        &.active, &:hover {
                            color: $color-secondary-text;
                        }
                    }
                }
            }
        }
    }
}
