@import 'constants';

#left-menu-toggle {
    @media #{$media-wide}, #{$media-medium} {
        display: none;
    }

    @media #{$media-narrow} {
        font-size: $font-size-2;
        background-color: #f8f8f8;

        .container {
            a {
                flex-grow: 1;
                user-select: none;
                opacity: $opacity-4;
                align-items: center;
                justify-content: center;
                height: $gap-2;
            }
        }
    }
}
