@import 'sideMenu';
@import 'constants';

#main {
    flex-grow: 1;

    .container {
        display: flex;
        flex-direction: column;
        padding-top: $gap-1;
        padding-bottom: $gap-1;

        @media(min-width: 768px){
            flex-direction: row;
        }
    }
}
