@import 'constants';

main {
    flex-grow: 1;
    flex-direction: column;

    @media #{$media-narrow} {
        padding-top: $gap-1;
    }

    #_content {
        h1 {
            margin-top: -10px;
        }
    }
}
