@import 'constants';

.pagination {
    font-size: $font-size-1;
    flex-direction: row;

    li {
        list-style: none;

        &:first-child > a {
            margin-left: 0;
            border-top-left-radius: $border-radius-main;
            border-bottom-left-radius: $border-radius-main
        }

        &:last-child > a {
            border-top-right-radius: $border-radius-main;
            border-bottom-right-radius: $border-radius-main
        }

        &.active {
            a,
            a:focus,
            a:hover {
                z-index: 3;
                color: #fff;
                cursor: default;
                background-color: $color-secondary-1;
                border-color: $color-secondary-1;
            }
        }

        &.disabled {
            a,
            a:focus,
            a:hover {
                color: $font-black-on-white-importance-3;
                cursor: not-allowed;
                background-color: transparent;
                border-color: $font-black-on-white-importance-4;
            }
        }

        a {
            align-items: center;
            padding: 0 $gap-4;
            height: $gap-2;
            margin-left: -$gap-9;
            background-color: #fff;
            border: $gap-9 solid $font-black-on-white-importance-5;
            z-index: 1;
            transition: border-color $transition-delayed-2, 
                color $transition-delayed-2, 
                background-color $transition-delayed-2;

            &:focus,
            &:hover {
                z-index: 2;
                background-color: $color-secondary-2;
                border-color: $color-secondary-2;
                color: #fff;
            }
        }
    }
}
