@import 'constants';

$bar-margin-right: 9px;
$bar-width: 3px;

#right-menu {
    font-size: $font-size-2;
    // Default flex-shrink is 1. When toc contents become fixed, they are taken out of the document flow.
    // Toc's adjacent article element expands fully width-wise. Flexbox thinks main's contents are overflowing width-wise
    // and distributes negative space between toc and article 1:1. To avoid this, flex-shrink must be set to 0.
    flex-shrink: 0;

    @media #{$media-narrow}, #{$media-medium} {
        padding-bottom: 23px;
    }

    @media #{$media-wide} {
        overflow-y: hidden;
        margin-top: -4px;
        width: $side-menu-width;
        height: auto !important;
        margin-left: 64px;
    }

    > .wrapper {
        width: inherit;
        align-items: flex-start; // Scroll for outline should be adjacent to headers links
        flex-direction: column;

        @media #{$media-wide} {
            &.fixed {
                position: fixed;
                top: 15px;
            }
        }

        .wrapper {
            @media #{$media-narrow}, #{$media-medium} {
                flex-direction: row;

                &::before {
                    content: "";
                    width: $bar-width;
                    background-color: $color-secondary;
                    margin-right: $bar-margin-right;
                }
            }

            #outline {
                flex-direction: column;

                > span {
                    @media #{$media-narrow}, #{$media-medium} {
                        display: none;
                    }

                    @media #{$media-wide} {
                        font-size: $font-size-3;
                        padding-bottom: 9px;
                    }
                }

                > ul > li:first-child > a {
                    margin-top: 0;
                }

                ul {
                    flex-direction: column;

                    &.level1 {
                        @media #{$media-wide} {
                            overflow-y: auto;
                        }
                    }

                    &.level2 {
                        padding-left: 14px;
                    }

                    li {
                        flex-direction: column;
                        align-items: flex-start;

                        @media #{$media-wide} {
                            flex-shrink: 0;
                        }

                        a {
                            user-select: none;
                            cursor: pointer;
                            align-items: stretch;
                            margin-top: 5px;
                            margin-bottom: 4px;

                            span {
                                &:last-child {
                                    margin-right: 14px;
                                    @include animated-underline($color-tertiary, $color-tertiary);
                                }

                                @media #{$media-wide} {
                                    &:first-child {
                                        margin-right: $bar-margin-right;
                                        width: $bar-width;
                                        background-color: $color-primary-text;
                                        opacity: $opacity-2;
                                        transform: scaleY(0);
                                        transition: transform 0.26s $ease-out-quad;
                                        // When scrollbar appears, if flex-shrink is not 0, bar width can get set to 0
                                        flex-shrink: 0;
                                    }
                                }
                            }

                            @media #{$media-wide} {
                                &.active {
                                    span {
                                        &:first-child {
                                            transform: scaleY(1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#edit-article {
    @media #{$media-wide} {
        margin-bottom: 24px;
    }

    span {
        &.icon {
            align-items: center;
            @include material-design-icon("\E3C9", $color-primary-text);

            &::before {
                opacity: $opacity-2;
                padding-right: $icon-text-gap;
            }
        }

        &:last-child {
            flex-shrink: 0;
            @include animated-underline($color-tertiary, $color-tertiary);
        }
    }
}
