@import 'constants';

#search-results {
    display: none;
    padding-bottom: $gap-1;
    flex-grow: 1;
    flex-direction: column;

    #search-string {
        font-size: $font-size-1;
        background-color: $color-primary-1;
        height: $gap-2;
        justify-content: center;
        box-shadow: 0 2px $fade-box-shadow;
        color: $color-grayscale-1;

        .container {
            span {
                align-items: center;
            }
        }
    }

    > .container {
        align-self: center;
        padding-top: $gap-1;
        flex-direction: column;

        mark {
            background-color: #ffe57f;
            padding: 0 $gap-6;
            display: inline;
            color: inherit;
        }
    }
}
