@import 'constants';

#search-results {
    display: none;
    padding-bottom: $gap-1;
    flex-grow: 1;
    flex-direction: column;

    #search-string {
        font-size: $font-size-1;
        background-color: $color-primary-1;
        height: $gap-2;
        justify-content: center;
        box-shadow: 0 2px $fade-box-shadow;
        color: #fff;

        .container {
            span {
                align-items: center;
            }
        }
    }

    > .container {
        align-self: center;
        padding-top: $gap-1;
        flex-direction: column;
    }
}
