@import 'constants';

#search-results {
    display: none;
    padding-bottom: 59px;
    flex-grow: 1;
    flex-direction: column;

    #search-string {
        font-size: $font-size-2;
        background-color: $color-secondary;
        height: 37px;
        justify-content: center;
        color: $color-secondary-text;

        .container {
            span {
                align-items: center;
            }
        }
    }

    > .container {
        align-self: center;
        padding-top: 59px;
        flex-direction: column;

        mark {
            background-color: $color-primary-text-highlight;
            padding: 0 5px;

            display: inline;
            color: inherit;
            text-shadow: none;
        }
    }
}
