@import 'constants';
@import '../node_modules/font-awesome/scss/_variables.scss';

#side-menu {
    padding-top: 6px;
    margin-right: $gap-2;
    width: 200px;
    // Default flex-shrink is 1. When toc contents become fixed, they are taken out of the document flow.
    // Toc's adjacent article element expands fully width-wise. Flexbox thinks main's contents are overflowing width-wise
    // and distributes negative space between toc and article 1:1. To avoid this, flex-shrink must be set to 0.
    flex-shrink: 0;

    .wrapper {
        width: inherit;

        &.fixed {
            position: fixed;
            top: $gap-3;
        }

        #side-menu-toggle {
            @media (min-width: 768px) {
                display: none;
            }
        }

        #side-menu-filter {
            input {
                height: $gap-2;
                padding: 8px 12px;
                width: 100%;
                border: 1px solid #a9a9a9;
                border-radius: 0;
                outline: none;
                border-radius: $border-radius-main;
            }
        }

        #side-menu-toc {
            font-size: $font-size-1;
            padding-top: $gap-4;

            ul {
                display: flex;
                flex-direction: column;

                li {
                    padding-top: $gap-5;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    &.expandable {
                        > .topic:before {
                            visibility: visible;
                            transform: rotate(0);
                        }

                        &.expanded > .topic:before {
                            transform: rotate(90deg);
                        }

                        ul {
                            padding-left: $gap-3;
                            height: 0;
                            overflow: hidden;
                            transition: height $transition-main;
                        }
                    }

                    a {
                        padding-left: $gap-5;

                        &:not([href]) {
                            color: #333;
                        }
                    }

                    .topic {
                        @include font-awesome($fa-var-angle-right);
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        &:before {
                            font-size: $font-size-3;
                            visibility: hidden;
                            transition: transform $transition-main;
                        }
                    }
                }
            }
        }
    }
}
