@import 'constants';

#side-menu-toggle {
    font-size: $font-size-1;
    background-color: #f8f8f8;
    border-bottom: 1px solid $border-color-1;

    @media(min-width: 768px) {
        display: none;
    }

    .container {
        a {
            color: $font-color-importance-3;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $gap-2;
        }
    }
}
